@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

$red:#c90000;
$yellow:#ecca00;
$blue:#0057e0;
$violet:#e800cf;
//animation
@import 'animation-yellow';
@import 'animation-blue';
@import 'animation-violet';
@import 'animation-red';
.hide{ display: none;}
//color
html{ width: 100%; height: 100%; overflow: hidden; position: relative;}
.page-index{ background: url('../images/bg-page.jpg') no-repeat left top; width: 1920px; height: 1080px; position: relative;}
.route-box{ width: 1920px; height: 1080px; position: absolute; left: 0; top: 0; background: no-repeat center; display: none;
  &.reout-blue{ background-image: url('../images/bg-blue.png');}
  &.reout-red{ background-image: url('../images/bg-red.png');}
  &.reout-violet{ background-image: url('../images/bg-violet.png');}
  &.reout-yellow{ background-image: url('../images/bg-yellow.png');}
}

.coordpath{width: 15px; height: 15px; box-shadow: 0 0 10px rgb(219, 242, 255); @include inline-block; position: absolute; z-index: 99; border-radius: 50%; left: -953px; top: -532.5px; overflow: hidden;
  &:before{ content: ''; display: block;width: 15px; height: 15px; border-radius: 50%; background-color: #fff; position: absolute; top: 0px; left: 0px; animation: in .5s infinite linear } 
  &.coordpath-red{ animation-fill-mode: forwards; }
  &.coordpath-violet{ animation-fill-mode: forwards;}
  &.coordpath-blue{ animation-fill-mode: forwards;}
  &.coordpath-yellow{  animation-fill-mode: forwards;}
}

.coordpath-red-01{ -webkit-animation:coordpath-red-01 2000ms; left: 953px; top: 532.5px; }
.coordpath-red-02{ -webkit-animation:coordpath-red-02 2000ms; left: 953px; top: 532.5px; }
.coordpath-red-03{ -webkit-animation:coordpath-red-03 2000ms; left: 953px; top: 532.5px;}
.coordpath-violet-01{ -webkit-animation:coordpath-violet-01 3000ms; left: 953px; top: 532.5px; }
.coordpath-blue-01{ -webkit-animation:coordpath-blue-01 500ms; left: 953px; top: 532.5px; }
.coordpath-blue-02{-webkit-animation:coordpath-blue-02 500ms; left: 953px; top: 532.5px;}
.coordpath-blue-03{ -webkit-animation:coordpath-blue-03 500ms; left: 953px; top: 532.5px;}
.coordpath-yellow-01{ -webkit-animation:coordpath-yellow-01 2000ms;  left: 953px; top: 532.5px;}
.coordpath-yellow-02{ -webkit-animation:coordpath-yellow-02 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-03{ -webkit-animation:coordpath-yellow-03 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-04{ -webkit-animation:coordpath-yellow-04 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-05{ -webkit-animation:coordpath-yellow-05 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-06{ -webkit-animation:coordpath-yellow-06 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-07{ -webkit-animation:coordpath-yellow-07 2000ms; left: 953px; top: 532.5px;}
.coordpath-yellow-08{ -webkit-animation:coordpath-yellow-08 2000ms; left: 953px; top: 532.5px;}

@keyframes in {
  0%{ opacity: .5;}
  50%{ opacity: 1;}
  100%{ opacity: .5;}
}