@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import 'common/sass/config';
//@import 'hourglass/scss/components/btn';
//color
$main-font:#666;
$main-color:#6aa672;
$main-bg:#f3f3f6;
$main-border:#b9b8b8;
$main-size: 900px;

//default
.page-index{ font-size: 14px; color: $main-font; line-height: 2em; overflow: hidden; }
.page-header,
.page-content,
.footer-main{ width: 100%; margin: auto;}
h2.title{ margin: 65px 0 38px; height: 78px; line-height: 66px; background: url('../images/bg-title.png') no-repeat center; text-align: center;}
h3.title{ margin: 60px 0 52px; height: 55px; line-height: 55px; background: url('../images/bg-title-01.png') no-repeat center bottom; text-align: center;}
h4.sum-title{ margin: 54px 0 30px; font-size: 32px; color: #8f9199; letter-spacing:.3em; text-align: center;}
.icon-video{ display: inline-block; width: 52px; height: 36px; vertical-align: middle; margin-left: 10px; background: url('../images/icon-video.png') no-repeat center; }
.video-img{ margin: auto; width: 906px; cursor: pointer;}
.img-left{ float: left;}
.img-right{ float: right;}
.main-info>p{ font-weight: 200; }
//header
.page-header{ position:relative;
    .info-main{background:url('../images/banner.jpg') no-repeat center top ; height:720px; }
    .info{ width: 950px; border: 1px solid $main-border; padding: 28px 20px; box-sizing: border-box; font-size: 22px; line-height: 2; margin: auto; font-weight: 100; text-indent: 2em;}
}
//footer
.page-footer{text-align: center;  background-color: darken($color: $main-border, $amount: 50%); padding: 40px 0 30px; color: lighten($color: $main-font, $amount: 100%); margin-top: 54px;
    .footer-logo,
    h3,
    p{ @include inline-block; }
    h3{ margin: 0 55px 0 66px;}
    p{
        span{ @include inline-block; margin-right: 20px;}
    }
}
//content
.ct-column-rush{ position: relative; margin-bottom: 20px;}
.ct-column-expert{ position: relative; overflow: hidden; text-align: center; padding-bottom: 100px;
    .pople-name{width: 443px; padding:5px 30px 140px; margin:0 30px; @include inline-block; border:1px solid lighten($main-border, 10%); position: relative; box-sizing: border-box;
        &:after,
        &:before{ content:''; display:block;  position:absolute;background: no-repeat center; }
        .intr-box{ color: darken($color: $main-font, $amount: 25%); line-height: 1;
            .avatar{ margin-bottom: 30px;}
            .name{ font-size: 45px; margin-bottom: 20px;}
            .intr{ font-size: 24px; margin-bottom: 40px;}
        }
        .info-box{ text-align: left; text-indent: 2em; font-size: 18px; }
    }
    .pople-woman:after{ background-image:url('../images/img-03.png'); left: 18px; width:33px; height:98px; top: 18px;}
    .pople-woman:before{ background-image:url('../images/img-03.png'); right: 18px; width:33px; height:98px; bottom: 18px; transform:rotate(180deg); }
    .pople-man:after{ background-image:url('../images/img-04.png'); left: 18px; width:33px; height:98px; top: 18px;}
    .pople-man:before{ background-image:url('../images/img-04.png'); right: 18px; width:33px; height:98px; bottom: 18px; transform:rotate(180deg); }
}
.ct-column-everyone{  position: relative; padding-bottom: 70px;
    &:before{ content:''; display:block; background:url('../images/img-05.png') no-repeat center; position:absolute; right:0; width:189px; height:256px; top: -118px; }
    .title-btn{ overflow: hidden; width: $main-size; margin: auto;
        .btn-list{ @extend .img-left; position: relative; cursor: pointer;
            .txt{ width: 204px; height: 53px; box-sizing: border-box; padding-right: 8px; border: 1px solid lighten($main-border, 10%); background-color: #fefcfb; text-align: right; line-height: 53px; font-size: 24px; color: darken($color: $main-font, $amount: 25%);position: absolute; bottom: 0; right: 0px;}
            >img{ position: relative; z-index: 2;}
            &.btn-woman{ width: 212px; margin-right: 80px;}
            &.btn-man{ width: 241px; margin-right: 70px;}
            &.btn-he{ width: 294px;}
            &.cur,
            &:hover{
                .txt{ background-color: #004e2f; color: #fff;}
            }
        }
    }
    .info-box{border: 1px solid $main-border; position: relative; width: $main-size; margin:52px auto 0; padding: 26px 15px;
        em.before{ content:''; display:block; background:url('../images/btn-top.jpg') no-repeat center; position:absolute; width:55px; height:28px; top: -28px; left: 138px; }
        .info-list{ display: none; overflow: hidden;
            .info{ @extend .img-right; width: 390px; color: darken($color: $main-font, $amount: 25%); 
            .title{ text-align: center; padding:0 20px; font-size: 36px; line-height: 1; margin: 20px 0;}
            .txt{ font-size: 20px; text-indent: 2em; line-height: 1.5;}
        }
            
        }
    }
}
.ct-column-recommend{position: relative; padding-bottom: 50px;
    &:after{ content:''; display:block; background:url('../images/img-14.png') no-repeat center; position:absolute; width:212px; height:342px; top:-200px; left: 10px; }
    &:before{ content:''; display:block; background:url('../images/img-13.png') no-repeat center; position:absolute; right:0; width:182px; height:240px; bottom:-120px; }
    .recommend-list{ width: 950px; border: 1px solid $main-border; padding:36px 25px; box-sizing: border-box; margin:0 auto 30px; overflow: hidden;
        .info{ @extend .img-right; width: 350px;
            .title{ border-bottom:5px solid lighten($main-border, 10%); padding-bottom:10px; margin-bottom: 30px; width:100%; height:70px;
                >img{position: absolute; margin-left: -5px;}
            }
            .txt{ font-size: 20px; line-height: 1.5; color: darken($color: $main-font, $amount: 25%); text-indent: 2em;}
        } 
        .img{ border: 1px solid lighten($main-border, 10%); @extend .img-left;}
    }
}
.ct-column-summarize{ clear: both; width: 950px; margin: auto;
    .summary{ overflow: hidden; margin-bottom: 28px; 
        .editor-info{ @extend .img-left; overflow: hidden; _display:inline; width: 357px; border-left: 1px solid $main-border; padding-left: 45px; margin-left: 35px; padding-bottom: 20px;
            h3{ margin-bottom: 20px;}
            .info{ text-align: right;
                img{ margin: 0 14px 0 6px;}
                span{ @include inline-block; color: #fff; line-height: 24px;background-color: darken($color: $main-border, $amount: 50%); padding: 0 5px; }
            }
        }
        dt{ @extend .img-left; width: 510px;
            .user-img{ width: 74px; height: 79px; @include inline-block;
                img{ width: 100%;}
            }
            h4{ @include inline-block;
                .name{@extend .user-img; width: 71px; height: 24px; margin: 0 40px;}
                .synopsis{ line-height: 24px; @include inline-block; margin-top: 7px;letter-spacing:.2em; font-size: 18px;}
            }
            p{ letter-spacing:.1em; font-size: 16px; margin-top: 20px; } 
        }
    }
    .essay-info{ border: 1px solid darken($color: $main-border, $amount: 0%); padding: 22px 62px; margin-bottom: 50px; overflow: hidden; font-size: 20px; line-height: 1.5;
        h3{  font-weight: bold; }
         p{ margin: 10px 0;}
    }
}

//layrer-bg
// .layrer-bg { display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:98; background:rgba(0, 0, 0, 0.5);}
// .layrer-video { display:none; position:fixed; left:50%; top:50%; width:876px; height:488px; margin-left:-438px; margin-top:-244px; z-index:99; background:no-repeat center; background-size:100%;
//     &.video-rush { background-image:url("../images/img-video.jpg") }
//     &.video-expert { background-image:url("../images/img-video.jpg") }
//     &.video-recommend { background-image:url("../images/img-video.jpg") }
// }
// .icon-close { display:inline-block; vertical-align:middle; *vertical-align:auto; zoom:1; *display:inline; background:url("../images/icon-close.png") no-repeat center; background-size:100%; width:40px; height:40px; position:absolute; right:-15px; margin-top:-15px; cursor:pointer; z-index:10;}

//end

//animation
.ct-column-rush{
    .video-img{ opacity: 0; }
}
.ct-column-expert{
    .pople-woman,
    .pople-man{  opacity: 0;}
}
.ct-column-everyone{
    .title-btn,
    .info-box{ opacity: 0; }
}

.ct-column-recommend{
    .recommend-list{ opacity: 0; }
}
.ct-column-summarize,
.page-footer{ opacity: 0;}

//keyframes
@keyframes close-rotating{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(180deg); }
}
@keyframes opacity-in{
    0%{ opacity: 0;}
    100%{ opacity: 1; }
}
@keyframes bottom-in{
    0%{ bottom: -500px;}
    75%{ opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes left-in{
    0%{ left: -500px;}
    75%{ opacity: 0;}
    100%{ left: 0; opacity: 1;}
}
@keyframes right-in{
    0%{ right: -500px;}
    75%{ opacity: 0;}
    100%{ right: 0; opacity: 1;}
}


//animation-in
.icon-close:hover{ animation: close-rotating .3s forwards; }
.page-footer-in{ position:relative; animation: bottom-in .8s ease forwards;}

.ct-column-rush-in{
    .video-img{ animation: opacity-in .8s ease forwards 1s; }
}
.ct-column-expert-in{
    .pople-woman{ animation: left-in .5s ease forwards; }
    .pople-man{ animation: right-in .5s ease forwards; }
}
.ct-column-everyone-in{
    .title-btn,
    .info-box{ animation: opacity-in .5s ease forwards; }
}
.ct-column-recommend-in{
    .recommend-list{animation: opacity-in .8s ease forwards;
    }
}
.ct-column-summarize-in{ animation: opacity-in .8s ease forwards;}