/* fontface */

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1539134870030');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1539134870030#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1539134870030') format('woff'), url('../fonts/iconfont.ttf?t=1539134870030') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1539134870030#iconfont') format('svg');
    /* iOS 4.1- */
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: inherit;
    display: block;
    speak: none;
}

.icon-telephone:before {
    content: "\e645";
}

.icon-qq1:before {
    content: "\e62d";
}

.icon-weixin:before {
    content: "\e697";
}

.icon-wodekefu:before {
    content: "\e68b";
}

.icon-yanjing:before {
    content: "\e681";
}

.icon-tencent:before {
    content: "\e603";
}

.icon-dianhua:before {
    content: "\e60a";
}

.icon-shandian:before {
    content: "\e65c";
}

.icon-fanhui:before {
    content: "\e669";
}

.icon-wechat:before {
    content: "\e7c0";
}

.icon-geren:before {
    content: "\e608";
}

.icon-qzone:before {
    content: "\e656";
}

.icon-weibo:before {
    content: "\e7e4";
}

.icon-qq:before {
    content: "\e601";
}

.icon-iphone:before {
    content: "\e630";
}

.icon-excel:before {
    content: "\e631";
}

.icon-rotate:before {
    content: "\e632";
}

.icon-tuijianhan:before {
    content: "\e633";
}

.icon-bianji:before {
    content: "\e634";
}

.icon-cuohao:before {
    content: "\e635";
}

.icon-duigou:before {
    content: "\e636";
}

.icon-dengpao:before {
    content: "\e637";
}

.icon-duihao:before {
    content: "\e638";
}

.icon-fanye:before {
    content: "\e639";
}

.icon-gengduo:before {
    content: "\e63a";
}

.icon-fenxiang:before {
    content: "\e63b";
}

.icon-gongsi:before {
    content: "\e63c";
}

.icon-guanbi:before {
    content: "\e63d";
}

.icon-gouwuche:before {
    content: "\e63e";
}

.icon-huanyizu:before {
    content: "\e63f";
}

.icon-jiazaizhong:before {
    content: "\e640";
}

.icon-jianjie:before {
    content: "\e641";
}

.icon-jiantouyou:before {
    content: "\e642";
}

.icon-jiucuo:before {
    content: "\e643";
}

.icon-mingpian:before {
    content: "\e644";
}

.icon-shangjiantou:before {
    content: "\e646";
}

.icon-shangjiantou1:before {
    content: "\e647";
}

.icon-shijian:before {
    content: "\e648";
}

.icon-sousuo:before {
    content: "\e649";
}

.icon-shoucang:before {
    content: "\e64a";
}

.icon-guanjia:before {
    content: "\e64b";
}

.icon-tixing:before {
    content: "\e64c";
}

.icon-xiajiantou:before {
    content: "\e64d";
}

.icon-wangzhi:before {
    content: "\e64e";
}

.icon-wodexuqiu:before {
    content: "\e64f";
}

.icon-xunjiai:before {
    content: "\e650";
}

.icon-yishoucang:before {
    content: "\e651";
}

.icon-youxiang:before {
    content: "\e653";
}

.icon-zhiwei:before {
    content: "\e654";
}