@charset "utf-8";
body,
button,
input,
select,
textarea {
    font-family: "Microsoft YaHei", Arial, sans-serif, Tahoma, Helvetica;
}

*,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
article,
aside,
footer,
header,
hgroup,
nav,
section,
menu,
figure,
figcaption,
dialog {
    margin: 0;
    padding: 0;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-weight: normal;
}

li {
    list-style: none;
}

fieldset,
img,
dialog {
    border: 0;
    vertical-align: middle;
}

input,
textarea {
    outline-style: none;
}

textarea {
    resize: none;
}

input,
textarea,
button,
select {
    outline: 0 none;
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
menu {
    display: block;
}

address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #cc0000;
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

//placeholder
$placeholder: #ccc;
input::-webkit-input-placeholder {
    color: $placeholder;
}

input::-moz-placeholder {
    color: $placeholder;
}

input:-ms-input-placeholder {
    color: $placeholder;
}

textarea::-webkit-input-placeholder {
    color: $placeholder;
}

textarea::-moz-placeholder {
    color: $placeholder;
}

textarea::-ms-input-placeholder {
    color: $placeholder;
}

input,
button,
select {
    font-size: 14px;
}


/*--clearfix--*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}


/*--Hides from IE-mac--*/

* html .clearfix {
    height: 1%;
}

.hide {
    display: none;
}

.floatLeft {
    display: block;
    float: left;
}

.floatRight {
    display: block;
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.w1190 {
    width: 1190px;
    margin: 0 auto;
}

body {
    background-color: #f2f3f4;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 8;
}