@charset "UTF-8";
.notice-else{ background-color: rgba($color: $web, $alpha: .05); text-align: center; width: 1240px; color: #598cff; height: 44px; line-height: 44px; margin:20px auto 60px;}
.notice-news-list{ width: 1240px; margin: auto;}
.module-notice{ padding-bottom: 70px;}