@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
/*
*
https://www.hnszxc.com.cn:60002/daping/#/login?companyCode=jysdyz
账号：admin
密码：Szhouxiangcong@123456
*
*/
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//color
$main-font:$color_f;
$main-color:#14bbee;
$main-white:$color_f;
$main-title:#329df0;

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #031849;
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #026be1;
  -webkit-box-shadow: inset 0 0 6px #026be1;
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
  background: #0034a3;
}

// common
.icon{ display: inline-block; background: no-repeat center; box-sizing: border-box;
  &.icon-ym{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-01.png'); width: 31px; height: 28px;}
  }
  &.icon-sl{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-02.png'); width: 25px; height: 24px;}
  }
  &.icon-gb{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-03.png'); width: 30px; height: 23px;}
  }
  &.icon-hq{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-04.png'); width: 23px; height: 29px;}
  }
  &.icon-za{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-05.png'); width: 22px; height: 28px;}
  }
  &.icon-xsc{ background-image: url('../images/icon-04.png'); width: 22px; height: 17px;}
  &.icon-tb{ background-image: url('../images/icon-05.png'); width: 20px; height: 18px;}
  &.icon-hj{ background-image: url('../images/icon-06.png'); width: 20px; height: 21px;}
  &.icon-cctv{ background-image: url('../images/icon-cctv.png'); width: 28px; height: 24px;}
  &.icon-star{ background-image: url('../images/icon-star.png'); width: 26px; height: 24px;}
}
.btn-close{ width: 30px; height: 30px; display: inline-block; background-color: rgba($color: #000000, $alpha: .4); position: absolute; right: 0; top: 0; cursor: pointer; z-index: 3;
  &::before,
  &::after{ content: '';display: inline-block; width: 16px; height: 2px; background-color: #fff; transform: rotate(45deg); position: absolute;left: 7px;
    top: 14px;}
    &::after{ transform: rotate(-45deg); }
}
//page
.page-index{ background: url('../images/bg-page.png') repeat left top; width: 1920px; box-sizing: border-box; color: $main-font; margin: auto;}
.page-header{ background: url('../images/bg-head.png') no-repeat center top; width: 1877px; height: 93px; box-sizing: border-box; color: #dbefff; margin: auto; position: relative;
  h1{ text-align: center; font-size: 40px; padding-top: 30px; line-height: 1; text-shadow: 0 0 20px rgba($color: #259df1, $alpha: .6);}
  .btn-right-head{ position: absolute; right: 37px; bottom: 0; display: inline-block; background: url('../images/btn-header.png') no-repeat center; width: 300px; height: 39px; font-size: 20px; color: #329df0; text-align: center; line-height: 39px;
    &::after{ content: ''; display: inline-block; width: 0; vertical-align: middle; margin: -3px 0 0 10px; height: 0; border-style: solid; border-width: 8px 0 8px 10px; border-color: transparent transparent transparent #329df0;}
  }
  .btn-back-head{ display: inline-block; position: absolute; left: 43px; top: 40px; background: url('../images/btn-head-l.png') no-repeat center; width: 150px; height: 36px; line-height: 36px; text-align: center; color: $main-white;
    &::before{ content: ''; display: inline-block; background: url('../images/icon-back.png') no-repeat center; width: 11px; height: 17px; margin-right: 10px; vertical-align: middle; margin-top: -3px;}
  }
}
.page-contanted{ display: flex; justify-content: space-between; align-items: flex-start; height: 902px; box-sizing: border-box;
  .module-title{ font-size: 20px; color: $main-title; height: 35px; line-height: 30px; margin-bottom: 20px;}
  .module-title-01{ position: relative; font-size: 16px; display: inline-block;
    &::before,
    &::after{ content: ''; display: inline-block; position: absolute; width: 0; height: 0; top: 8px; border-style: solid; border-width: 2px 47px 2px 0;      border-color: transparent rgba($color: #007bff, $alpha: .8) transparent transparent;}
    &::before{ left: -54px;}
    &::after{  border-width: 2px 0 2px 47px; border-color: transparent transparent transparent rgba($color: #007bff, $alpha: .8); right: -52px;}
  }
  .module-title-02{ padding:6px 0 0 40px; font-size: 24px; text-shadow: 0 0 10px rgba($color: #0db8ff, $alpha: .75); letter-spacing: 5px;}
  .module-son-title{ position: absolute; color: $main-title; font-size: 16px; right: 24px; top: 14px;}
  .sep{ height: 1px; width: 100%; background-color: rgba($color: #1c57ff, $alpha: .45); position: relative;
    &::before,
    &::after{ content: ''; display: inline-block; width: 3px; height: 3px; border-radius: 100%; background-color:#1c57ff; margin-top: -1px; position: absolute;}
    &::before{ left: 0; }
    &::after{ right: 0;}
  }
  .main-list{ width: 100%;
    .list-title{ color: $main-title; font-size: 16px; margin-bottom: 8px;
      >p{ display: inline-block; width: 33.33%;}
    }
    .info-box{ padding: 0 10px;
      .list{ background-color: #001d58; line-height: 33px; height: 33px; margin-bottom: 4px; box-sizing: border-box;
        >p{ display: inline-block; line-height: 1; font-size: 16px; opacity: .8; width: 33.33%;
          &.orange{ color: #ed9a0a;}
          &.green{ color: #17af1b;}
        }
      }
    }
  }
  .list-common-style{ 
    >h3{ font-size: 20px; color: #fcae49; text-align: left; line-height: 1;}
    .list-title{ color: $main-white;
      >p{ width: 25%;}
    }
    .info-box{ 
      .list{ background-color: rgba($color: #0134c1, $alpha: .4); height: 41px; margin-bottom: 3px; border:1px solid rgba($color: #1459e7, $alpha: .6);
        >p{ width: 25%; vertical-align: middle; }
      }
    }
  }
  .list-cctv{ padding: 5px 18px 5px; text-align: left; 
    .list{ position: relative; cursor: pointer;
      &::before{ display: none;}
      .frist-list,
      .second-list{ border-bottom: 1px solid #5ba0ff; padding: 0 17px 13px 26px; color: #5ba0ff; margin-bottom: 9px;
        &::after{ content: ''; position: absolute; display: inline-block; background: url('../images/icon-cctv.png') no-repeat center; width: 28px; height: 24px; right:17px;}
      }
      .second-list{ display: none;}
      &.more{
        &::before{ content: ''; position: absolute; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent #5ba0ff; margin-right: 18px; top: 5px; left: 8px;}
        .frist-list{
          &::after{ display: none;}
        }
      }
      &.show{
        &::before{ transform: rotate(90deg);}
      }
    }
  }
 
}
.page-footer{ background: url('../images/bg-foot.png') no-repeat center bottom; width: 100%; height: 85px; box-sizing: border-box; padding-top: 35px;
  .foot-nav{ width: 100%; display: flex; align-items: center; justify-content: center; 
    .nav{ margin:0 4px; display: flex; justify-content: center; align-items: center;
      &::after{content: ''; display: inline-block; width: 2px; height: 39px; background-color: rgba($color: #4f94e1, $alpha: .5 ); margin: 0 50px;}
      &:last-child{ 
        &::after{ display: none;}
      }

      >a{ color: #5db1ff; font-size: 20px; width: 100px; display: block; text-align: center;
        &:hover,
        &.cur{ font-size: 24px; color: $main-font; font-weight: bold; text-shadow: 0 0 20px rgba($color: #dff2ff, $alpha: .5);}
      }
    }
  }
}

// index
.contanted-index{ padding: 30px 52px 0; align-items: center;
  .module-left-01{ background: url('../images/bg-kuang-08.png') no-repeat center top; width: 344px; height: 289px; text-align: center; margin-bottom: 20px; position: relative;}
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-01.png'); height: 256px;
    .main{ margin:-35px 0 0 -49px;}
  }
  .module-left-03{ @extend .module-left-01; background-image: url('../images/bg-kuang-09.png'); height: 276px;
    .main{ margin-top:-40px;}
  }
  .module-right-01{ @extend .module-left-03;
    .main{ margin-top:-10px;}
  }
  .module-right-02{ @extend .module-left-01;
    .main{ margin:-40px 0 0 30px;}
  }
  .module-right-03{ @extend .module-left-02;
    .main{ margin:-14px 0 0 0;
      .main-info{ height: 181px; overflow: hidden;}
    }
  }
  .module-center{ background: url('../images/map.png') no-repeat center; width: 1120px; height:814px; position: relative;
    .module-center-map{ position: absolute; left: 110px; top: -10px;}
    .map-nav{ position: absolute; bottom: 0; left: 50%; margin-left: -395px; width: 789px;
      .nav-list{ display: flex; justify-content: space-between; 
        .nav{ background: url('../images/btn-son.png') no-repeat center; width: 139px; height:51px; color: #5db1ff; cursor: pointer; display: flex; align-items: center;
          .icon{ width: 51px; height: 51px; display: flex; justify-content: center; align-items: center; margin-right: 10px;}
          >span{ display: inline-block; margin-top: -3px;}
          &:hover,
          &.cur{ background-image: url('../images/btn-son-cur.png'); color: $main-white;
            &:nth-child(1){
              .icon::before{ background-image: url('../images/btn-son-01-cur.png');}
            }
            &:nth-child(2){
              .icon::before{ background-image: url('../images/btn-son-02-cur.png');}
            }
            &:nth-child(3){
              .icon::before{ background-image: url('../images/btn-son-03-cur.png');}
            }
            &:nth-child(4){
              .icon::before{ background-image: url('../images/btn-son-04-cur.png');}
            }
            &:nth-child(5){
              .icon::before{ background-image: url('../images/btn-son-05-cur.png');}
            }
          }
        }
      }
    }
  }
}
// farm
.contanted-farm{ padding: 20px 24px 14px;
  .module-left{ background: url('../images/bg-kuang-02.png') no-repeat center top; width: 444px; height: 875px; text-align: center; box-sizing: border-box; padding: 0 15px;
    .info-huoqing{ margin-left: 5px; overflow: hidden;}
    .sep{ margin: 32px 0 22px;}
    .new-hq{ 
      >h3{  margin-bottom: 10px;}
      .main-info{ height: 173px; overflow: hidden;
        p:first-child{ font-size: 14px; line-height: 1.2; margin-top: 2px;}
        p:last-child{ color: #ff5050;}
      }
    }
  }
  .module-center-01{ background: url('../images/bg-kuang-03.png') no-repeat center top; width: 962px; height: 561px; text-align: center; box-sizing: border-box; margin-bottom: 17px; padding: 0 25px;
    .content{display: flex; justify-content: space-between; align-items: center;}
    .main-sl{ width: 112px * 3; 
      .info-list{ display: flex; justify-content: space-between; margin: 26px 0;
        .list{cursor: pointer; display: flex; justify-content: center; flex-direction: column; align-items: center; width: 112px;
          .num{ background: url('../images/bg-ny-01.png') no-repeat center; width: 80px; height: 84px; display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 20px; margin-bottom: 3px;
            .icon{ margin-bottom: 5px}
          }
          .txt{ font-size: 16px;}
          &:hover,
          &.cur{
            .num{ background-image: url('../images/bg-ny-01-cur.png'); }
            .txt{ color: #22ceff;}
          }
        }
      }
      .info-farm{ background: url('../images/bg-ny-02.png') no-repeat center; width: 291px; height: 310px; margin: auto; box-sizing: border-box; padding: 50px 14px 50px 50px; 
        >figure{ overflow-y: scroll; width: 227px; height: 210px;}
        p{text-align: left; line-height: 28px; color: $main-title;}
      }
    }
   
  } 
  .module-center-02{@extend .module-center-01; background-image: url('../images/bg-kuang-04.png'); height: 298px; margin-bottom: 0;
    .info-num{background: url('../images/bg-ny-03.png') no-repeat center; width: 276px; height: 231px; line-height: 215px; font-size: 52px;}
    .main-dp{ width: 566px;
      .list-title{ font-size: 20px; margin-bottom: 20px;
        >p{ width: 20%;}
      }
      .main-info{ height: 162px; overflow: hidden;
        .list{ background-color: #01278d; line-height: 30px; height: 30px; margin-bottom: 3px;
          >p{ width: 20%;  }
        }
      }
    }
  }
  .module-right{ @extend .module-left;
    .main-hq{ padding: 15px; box-sizing: border-box; height: 820px; overflow-y: scroll; }
    .list-cctv{height: 780px;}
  }
}
// control
.contanted-control{ padding: 28px 48px 18px; 
  .new-event{ 
    .main-info{ height: 145px; overflow: hidden;}
    .info-box{ padding: 0;
      .list{ height: 34px; line-height: 26px;
        >p:nth-last-child(2){ color: #00b544;}
      }
    }
    >.main{ padding-top: 10px;}
  }
  .module-left-01{ background: url('../images/bg-kuang-10.png') no-repeat center top; width: 505px; height: 382px; text-align: center; margin-bottom: 13px;
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-11.png'); height: 463px;
    >.main{ margin-top: -12px;}
    .sep{ margin: 14px; width: auto;}
    .new-event{ padding: 0 14px;}
  }
  .module-center{ background: url('../images/bg-kuang-12.png') no-repeat center top; width: 790px; height: 858px; text-align: center; box-sizing: border-box; padding: 0 23px;
    .sep{ margin: 25px 0 53px;}
    .new-event{
      .main-info{ height: 219px; overflow: hidden;
        .list{ height: 39px; line-height: 34px; margin-bottom: 6px;}
      }
      >.main{ padding-top: 25px;}
    }
  }
  .module-right-01{ background: url('../images/bg-kuang-13.png') no-repeat center top; width: 508px; height: 343px; text-align: center; margin-bottom: 14px;

  }
  .module-right-02{ @extend .module-right-01; background-image: url('../images/bg-kuang-14.png'); height: 237px;
    .main-safe{ height: 180px; overflow-y: scroll; margin: 15px 9px 0;}
  }
  .module-right-03{ @extend .module-right-01; background-image: url('../images/bg-kuang-15.png'); height: 250px; margin-bottom: 0; position: relative;
    .module-son-title{
      &::after{ content: ''; display: inline-block; margin:-2px 0 0 10px; vertical-align: middle; color: $main-title; background: url('../images/icon-more.png') no-repeat left center; width: 22px; height: 14px;}
    }
    >.main{ margin-top: -20px;}
  }
}
// build
.contanted-build{ padding: 32px 58px; 
  .module-left-01{background: url('../images/bg-kuang-16.png') no-repeat center top; width: 536px; height: 384px; text-align: center; margin-bottom: 27px; }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-17.png'); height: 446px; margin-bottom: 0;}
  .module-content-01{ background: url('../images/bg-kuang-18.png') no-repeat center top; width: 682px; height: 446px; text-align: center; margin-top: 27px;}
  .module-right{ background: url('../images/bg-kuang-19.png') no-repeat center top; width: 536px; height: 857px; text-align: center; overflow: hidden;}
}
// each
.contanted-each{ padding: 25px 46px;
  .module-left-01{ background: url('../images/bg-kuang-e-01.png') no-repeat center top; width: 588px; height: 317px; margin-bottom: 13px;
    >.main{ text-align: center; margin-top: 10px;}
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-e-02.png'); height: 252px; margin-bottom: 14px;
    >.main{ margin-top: 20px;}
  }
  .module-left-03{ @extend .module-left-01; background-image: url('../images/bg-kuang-e-03.png'); height: 254px;  margin-bottom: 0px;
   .main-aqxc{ padding: 10px 19px 12px;
      .title{ display: flex; justify-content: space-between; padding: 0 23px 10px 18px;}
    }
   .list-aqxc{ height: 41px * 4; overflow-y: scroll; 
    .list{ padding: 8px 23px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid; border-image-source: linear-gradient(to right, rgba(39, 120, 255,.2) 5%, rgb(39, 120, 255) 20%, rgb(39, 120, 255) 80%, rgba(39, 120, 255,.2)); line-height: 1; border-image-slice: 1; color: #3ea1fe;}
   }
  }
  .module-content-01{ background: url('../images/bg-kuang-e-04.png') no-repeat center top; width: 631px; height: 368px; margin-bottom: 21px;
    >.main{ text-align: center; margin-top: 10px;}
  }
  .module-content-02{ @extend .module-content-01; background-image: url('../images/bg-kuang-e-05.png'); height: 461px; margin-bottom: 0;
    .main-info{ padding: 2px 26px 10px;
      .title{ display: flex; margin-bottom: 5px; text-align: center; font-size: 20px; color: #6c93ff; 
        >span{ display: block; width: 75%;
          &:first-child{ width: 25%;}
        }
      }
    }
    .info-list-box{ height: 381px; overflow: hidden;
      .list{ display: flex; align-items: center; background-image: linear-gradient(to right, rgba(2, 33, 119,.2) 5%, rgb(2, 33, 119) 20%, rgb(2, 33, 119) 80%, rgba(2, 33, 119,.2)); margin-bottom: 4px; border-radius: 10px; height: 73px; box-sizing: border-box; padding: 7px 30px 7px 0;
        .name{ width: 35%; box-sizing: border-box; text-align: center; border-right: 1px solid $main-white; line-height: 1.5;}
        .name-list{ box-sizing: border-box; padding-left: 40px;
          >span{ display: inline-block; margin-left: 10px; line-height: 1.2;}
        }
      }
    }
  }
  .module-right-01{ background: url('../images/bg-kuang-e-06.png') no-repeat center top; width: 583px; height: 368px; margin-bottom: 29px;
    .main-img{ margin: 14px 23px 0;}
    .list-box{ background-color: #122643; padding: 8px; display: flex; flex-wrap: wrap; 
      .list{ margin: 0 29px 22px 0;
        &:nth-child(4n){ margin-right: 0;}
        &:nth-child(n+4){ margin-bottom: 0;}
      }
    }
  }
  .module-right-02{ @extend .module-right-01; background-image: url('../images/bg-kuang-e-07.png'); height: 453px; margin-bottom: 0;
    .main-txt{ margin: 40px 60px 40px 44px; font-size: 18px;
      .icon{ vertical-align: middle; margin: -12px 15px 0 0; opacity: .23;
        &:first-child{ margin-left: 20px;}
        &.cur{ opacity: 1;}
      }
      >p{line-height: 32px;}
    }
  }
}
// cctv
.contanted-cctv{ justify-content: center; align-items: center;
  .module-left{ margin-right: 14px; background: url('../images/bg-cctv-l.png') no-repeat center top; width: 372px; height: 838px; box-sizing: border-box; padding: 40px;
    .title{ font-size: 24px; margin-bottom: 15px; color: #dbefff;}
    .list-box{ height: 710px; overflow-y: scroll; padding-left: 10px; line-height: 31px;
      .list{ margin-bottom: 10px; position: relative; padding-left: 20px;
        &::before{ content: ''; display: inline-block; width: 0; vertical-align: middle; margin: -3px 10px 0 0 ; height: 0; border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent $main-title;; position: absolute;top: 13px;left: 0;}
        &.show{
          &::before{ transform: rotate(90deg);}
        }
      }
    }
    .frist-list{ color: $main-title; font-size: 20px; cursor: pointer;
     
    }
    .second-list{ padding-left: 20px; color: $main-title; cursor: pointer; display: none;}
  }
  .module-center{ background: url('../images/bg-cctv-c.png') no-repeat center top; width: 1357px; height: 846px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; box-sizing: border-box; padding: 20px 0 0 20px;
    .main-video{ width: 1144px; height: 725px; overflow: hidden; position: relative; 
      .video-box{ width: 100%; display: none;
        .video{ width: 100%;}
      }
    }
  }
}

// mask
.page-mask{ @include layer-bg(.5); display: none}
.layer-video{ @include layer-box(1000px,634px); display: none;}