@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import '../../scss/common/sass/config';
//@import '../../scss/hourglass/scss/components/btn';

//color
$main-font:#353535;
$main-color:#0252e5;
$main-border:#f5f4f4;
$main-title:#595959;
.icon{ @include inline-block; background: none no-repeat center; width: 0; height: 0;
  &.icon-horn{ background-image: url('../images/icon-08.png'); width: 12px; height: 11px;}
}
.inp-date,
.inp-txt{ border: 1px solid #ccc; line-height: 30px; height: 30px; width: 150px; box-sizing: border-box; padding: 0 10px; border-radius: 5px;}
.btn{ background-color: $main-color; color: #fff; @include inline-block; text-align: center; border-radius: 5px;}
.btn-link{ color: $main-color; border-bottom: 1px solid $main-color; }
html,
body{ height: 100%;}
//page
.page-index{ font-size: 14px; height: 100%; overflow-y: scroll; display: flex; color: $main-font;}
.page-contents{ width: 100%; background-color: #e5e7eb;
  .contents-box{ display: flex; background-color: #e5e7eb; padding-left: 54px;}
  .content{ background-color: #fff; margin:62px 20px 20px 150px;  width: 100%; box-sizing: border-box;
    .content-title{ font-size: 16px; display: flex; justify-content: space-between; align-items:center; border-bottom: 1px solid $main-color; padding: 9px 8px 9px 20px; 
      .notice{ color: $main-color; font-size: 14px;
        .icon-horn{ margin:-3px 11px 0 0;}
      }
    }
    .content-title-01{font-weight: bold; position: relative; margin:20px 0 10px;
      &:before{ content: ''; @include inline-block; width: 5px; height: 16px; background-color: $main-color;position: relative; z-index: 10; margin-top: -2px;} 
      span{ @include inline-block; background-color: #fff; padding: 0 10px; position: relative; z-index: 10;}
      &:after{ content: ''; display: block; width: 100%; height: 1px; background-color: #e4e6ea; position: absolute; top: 50%; margin-top: -1px;}
    }
    .json-box{border: 1px solid #e4e6ea; background-color: #f7f7f7; padding: 21px 51px; line-height: 2;
      .json-list{ margin-left: 20px;}
      .json-attribute{ color: #ab8442;}
      .json-value{ color:#419641; }
      .note{ color: #fc1b28;} 
    }
  }
}
.page-header{ display: flex; justify-content:space-between; background-color: #fff; box-shadow: 0 3px 10px rgba($color: #000000, $alpha: .1); height: 42px; position: fixed; z-index: 20; width: 100%;
  .slogan{ font-size: 14px; color: $main-title; margin-left: 19px + 54px; line-height: 42px; font-weight: bold;}
  .menu{ display: flex; align-items:center;
    .renew-info{ margin: 0 13px; position: relative; cursor: pointer;
      .icon{ background-position-y: top; height: 19px; width: 18px; background-image: url('../images/icon-04.png'); }
      .describe-box{ display: none; position: absolute; background-color: rgba($color: #121a2b, $alpha: .48); border-radius: 3px; color: #fff; width: 60px; height: 20px; line-height: 20px; text-align: center; bottom: -24px; left: 50%; margin-left: -30px;
        &:before{content: ''; display: inline-block; position: absolute; width:0; height:0; border-width:0 4px 3px; border-style:solid; border-color:transparent transparent rgba($color: #121a2b, $alpha: .48); margin-top: -3px; left: 50%; margin-left: -4px;}
      }
      &:hover{
        .describe-box{ display: block;}
        .icon{ background-position-y: bottom;}
      }
    }
    .notice-info{@extend .renew-info;
      .icon{ width: 16px; background-image: url('../images/icon-02.png');
      }
    }
    .problem-info{@extend .renew-info;
      .icon{ width: 19px; background-image: url('../images/icon-03.png');
      }
    }
    .user-info{ margin:0 20px; display: flex;
      .icon-user{ background-image: url('../images/icon-user.png'); width: 25px; height: 25px; margin-right: 10px;}
      .user-box{  display: block; }
      .user-more{  display: flex; justify-content: space-between;
        .icon-vip{background-image: url('../images/icon-06.png'); width: 10px; height: 8px;}
        .icon-more{ background-image: url('../images/icon-direction-t.png'); width: 8px; height: 4px; margin-top: 3px; cursor: pointer;}
      }
    }
  }
}
.page-nav{  background: linear-gradient(to bottom, #2951ff, #0604b4 ); width: 130px; position: fixed; z-index: 22; height: 100%;
  .logo{ background:url('../images/logo.png') no-repeat center center #192fdd; height: 60px; }
  .nav-list{ 
    .nav{ display: block; height: 50px; position: relative; color: #fff; line-height: 50px; padding: 0 13px; margin-top: 1px;
      &:before{content: ''; display: block; position: absolute; width: 100%; height: 1px; background:linear-gradient(to right, rgba(#fff, .1), rgba(#fff, 1), rgba(#fff, .1)); bottom: -1px; left: 0; opacity: .1; z-index: 2;}
      &.cur{ background-color: #0232b9;}
      .icon{ margin:-5px 10px 0 10px; width: 20px; 
        &.icon-index{background-image: url('../images/icon-14.png'); height: 17px;}
        &.icon-core{background-image: url('../images/icon-09.png'); height: 18px;}
        &.icon-service{background-image: url('../images/icon-10.png'); height: 17px;}
        &.icon-analysis{background-image: url('../images/icon-11.png'); height: 20px;}
        &.icon-setup{background-image: url('../images/icon-12.png');  height: 16px;}
        &.icon-contact{background-image: url('../images/icon-13.png'); height: 20px;}
      }
    }
  }
  .btn-shrink{ position: absolute; bottom: 3px; left: 0; background: url('../images/icon-17.png') no-repeat 90% center rgba($color: #274dfb, $alpha: .39); height: 35px; width: 100%; cursor: pointer;}
  &.shrink{ width: 54px;
    .nav-list{ font-size: 0;}
    .nav{ text-align: center; padding: 0 15px; 
      .icon{ margin: 0;}
      .info{ display: none;}
    }
    .btn-shrink{ background-image: url('../images/icon-17-1.png'); background-position: center;}
  }
}
.contents-nav{ width: 130px; background-color: #f7f7f7; box-shadow: 4px 0 5px rgba($color: #000000, $alpha: .05); position: fixed; height: 100%; padding-top: 42px;
  .grade-one{ border-bottom: 1px solid #d8d8d8; padding: 23px 0 11px; margin:0 17px; text-align: center; font-size: 16px; line-height: 1; }
  .grade-two-nav-list{
    .grade-two-nav{ display: block; text-align: center; position: relative; height: 32px; line-height: 32px; font-size: 14px;
      &:before{ content: ''; display: none; width:2px; background-color: $main-color; height: 100%; position: absolute; left: 0; top: 0;}
      &:hover,
      &.cur{ color: $main-color; background-color: #dce8fe; 
        &:before{ display: block;}
      }
    }
  }
}
//module
.content-winningbid-info{
  .content-search-module{ padding: 20px;
    .search-option{ display: flex; align-items: center; margin-bottom: 10px;
      .province,
      .time,
      .industry{ margin-right: 20px;}
      .sep{ color: #ccc;}
      .btn{ width: 90px; height: 30px; line-height: 30px; }
    }
    .search-hot .hot{ color: $main-font;}
  }
  .content-list-module{
    .list-pages{ display: flex; justify-content: flex-end; align-items: center; padding: 20px; color: #8a8a8a; font-size: 12px;
      .select-page{ width: 70px; height: 33px; background-color: #dce8fe; position: relative; cursor: pointer; margin-left: 10px; position: relative;
        .num{ color: $main-color; line-height: 33px; display: block; padding:0 19px 0 14px;}
        .icon-more{ position: absolute; right: 12px; top: 13px; background-image: url('../images/icon-direction-b-t.png'); width: 11px; height: 7px; z-index: 10;}
        .num-list-box{ position: absolute; display: none; width: 100%; top:-1px; left: -1px; z-index: 1; background-color: #fff; border: 1px solid $main-border;}
        .num-list{ display: block; line-height: 33px; height: 33px; padding-left: 14px; color: $main-color;
          &:hover{ background-color: #e2effd;}
        }
      }
    }
    .page-num{ margin-left: 10px;
      >a{background-color: #e2e5ec; @include inline-block; width:33px; height: 33px; line-height: 33px; text-align: center; color: #8a8a8a;
        &.btn-prev{ background: url('../images/icon-direction-lr.png') no-repeat center  #e2e5ec;}
        &.btn-next{@extend .btn-prev; transform: rotate(180deg);}
        &:hover,
        &.cur{ color: #fff; background-color: $main-color;}
        &.btn-prev:hover,
        &.btn-next:hover{background-color: #e2e5ec; }
      }
    }
    .list-main{
      table{table-layout:fixed;}
      th,
      td{ height: 38px; text-align: center;}
      th{ background-color: #f5f4f4; border-right: 2px solid #fff;
        &:last-child{ border: none;}
      }
      td{ border-bottom:1px solid $main-border; 
        >p{ text-align: left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:keep-all; box-sizing: border-box; padding: 0 10px;}
      }
    }
  }
}
.service-api-main{ padding: 20px;
  table{
    th,td{ height: 38px;}
    th{ font-weight: bold; background-color:#f4f4f5; }
    td{ padding-left: 20px;
      &[align='center']{ padding: 0;}
    }
  }
  .table-02{
    th:last-child{text-align: left; padding-left: 20px;}
  }
  .operating-area{ margin-bottom: 20px;
    .btn{ width: 160px; height: 40px; line-height: 40px; margin-right: 10px;}
  }
}