@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset_mobile';

//组件
//@import 'common/sass/config';
//@import 'hourglass/scss/components/btn';

//color
$main-font:#b3b3b3;
$main-title:#3c3c3c;
$main-color:#2389f9;
$main-border:#f6f5f5; 


//default
img{ width: 100%; }
.icon{@include inline-block; background: no-repeat center; background-size: 100%;
  &.icon-search-inp{ background-image: url('../images/icon-09.png'); width: $_24; height: $_24;}
  &.icon-tendering{ background-image: url('../images/icon-01.png'); width: $_36; height: $_43;}
  &.icon-winbidding{ background-image: url('../images/icon-02.png'); width: $_37; height: $_43;}
  &.icon-expert{ background-image: url('../images/icon-03.png'); width: $_36; height: $_43;}
  &.icon-market{ background-image: url('../images/icon-04.png'); width: $_58; height: $_60;}
  &.icon-dataapi{ background-image: url('../images/icon-05.png'); width: $_58; height: $_60;}
  &.icon-intelligence{ background-image: url('../images/icon-06.png'); width: $_56; height: $_42;}
  &.icon-qualification{ background-image: url('../images/icon-07.png'); width: $_56; height: $_56;}
  &.icon-bid{ background-image: url('../images/icon-08.png'); width: $_56; height: $_52;}
  &.icon-index{ background-image: url('../images/icon-nav-01.png'); width: $_39; height: $_39;}
  &.icon-search{ background-image: url('../images/icon-nav-02.png'); width: $_36; height: $_36;}
  &.icon-subscribe{ background-image: url('../images/icon-nav-03.png'); width: $_40; height: $_37;}
  &.icon-user{ background-image: url('../images/icon-nav-04.png'); width: $_36; height: $_41;}
  &.icon-state{ background-image: url('../images/icon-11.png'); width: $_23; height:$_28;}
  &.icon-time{ background-image: url('../images/icon-12.png'); width: $_28; height: $_28;}
  &.icon-close{ background-image: url('../images/icon-close.png'); width: $_17; height: $_17;}
}
input::-webkit-input-placeholder{
  color:lighten($color: $main-font, $amount: 10%);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:lighten($color: $main-font, $amount: 10%);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:lighten($color: $main-font, $amount: 10%);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:lighten($color: $main-font, $amount: 10%);
}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.tendering-box{ display: none;}
.title-index{ text-align: center; font-size: $_30; color: $main-title; height: $_88; line-height: $_88; border-bottom: $_1 solid $main-border;
  >span{ color: $main-color;}
}
html,
body { height:100%; background-color: #f7f7f7; 
  &.subscribe-body{
    #container{ 
      //height:calc(100% - 60px - 45px ); 
      padding-top: $_110; 
      margin-bottom: $_119;
    }
  }
  &.search-body{
    #container{ 
      // height:calc(100% - 60px - 145px ); 
      padding-top:$_330; 
      margin-bottom: $_119;
    }
  }
}
#container { position:relative; box-sizing: border-box; background-color: #fff;
  #content{ background-color: #fff; }
}
.title-list-main{ border-bottom: $_1 solid #e5e5e5; padding: $_30 0 $_28; position: relative; margin: 0 $_34; 
  .info{ display: flex; justify-content: space-between; margin-left: $_34; font-size: $_28;
    .icon{ margin-top: -$_6; margin-right: $_10;}
    .city{ @include inline-block; padding: 0 $_20; background-color: $main-color; color: #fff; border-radius: $_10;}
  }
  .title{ color: #1a1a1a; font-size: $_32; margin-left: $_34; margin-bottom: $_24; height: 2em * 1.5; overflow: hidden;display: -webkit-box; -webkit-line-clamp:2; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical;}
  .num{ position: absolute; left:-$_35; top: $_35;font-size: $_26; color: #1a1a1a; text-align: right; width: $_70;}
  &:last-child{ border:none;}
}
//la
.page-index{ font-size: $_18; color: $main-font; line-height: 2em; overflow: hidden;  padding-bottom: $_119; }
.bottom-nav{ background-color: #fff; border-top: $_1 solid #d6d7dc; display: flex; height: $_98; width: 100%; position: fixed; bottom: 0; left: 0;  justify-content: center; align-items: center;
  .nav{ width: 25%; box-sizing: border-box; display: block; text-align: center; font-size: $_24; color: #7f8699;
    .icon{ background-position-y: top; }
    >span{ display: block; line-height: 1.5;}
    &.cur{ color: $main-color;
      .icon{ background-position-y: bottom;}
    }
  }
}
.btn-subscribe-settings{ position: fixed; width: $_98; height: $_98; background-color: rgba($color: #000000, $alpha: .76); color: #fff; text-align: center; bottom: $_127; right: $_26; font-size: $_26; border-radius: 50%; padding-top: $_20; box-sizing: border-box; line-height: 1.2;}

//module-index
.banner-search-index{ background: url('../images/banner.png') no-repeat center bottom #fff; background-size: 100%; height: $_152; display: flex; justify-content: center; box-sizing: border-box; padding-top: $_31;
  .search-box{ height: $_69; line-height: $_69; width: $_400 + $_274; font-size: $_24; background-color: #fff; border-radius: $_30;  padding: 0 $_30; margin-bottom: $_48;
    .inp-search{ width: 95%; border: none 0;}
    .icon-search{ margin:$_8 $_10 0 0;}
  }
}
.synopsis-module-index{ background-color: #fff; display: flex; justify-content: space-around; text-align: center; padding: $_28 0; margin-bottom: $_20;
  .synopsis-main-list{ 
    .icon-box{ background-color: #fcbd10; width: $_85; height: $_85; text-align: center; line-height: $_85; border-radius: 100%; margin:0 auto $_15;}
    .title{ font-size: $_30; color: $main-title; line-height: 1;}
    &:first-child{ 
      .icon-box{ background-color: #50b2ef;}
    }
    &:last-child{ 
      .icon-box{ background-color: #80d846;}
    }
  }
}
.banner-ad{ margin-bottom: $_20;}
.datamarket-module-index{ background-color: #fff; margin-bottom: $_20; 
  .detamarket-synopsis-box{ padding: $_24 $_9 $_46; display: flex; justify-content: space-around;
    .detamarket-synopsis-main{ height: $_114; background-color: #f7f7f7; border-radius: $_15; display: flex; align-items: center; justify-content: space-around; padding: $_30 $_23 $_24; box-sizing: border-box; margin: 0 $_11;
      >.icon{ margin-right: $_16;}
      .main{ line-height: 1.5; 
        .title{ font-size: $_30; color: $main-title;}
      }
    }
  }
}
.tailor-module-index{ background-color: #fff;
  .tailor-synopsis-main{ border-bottom: $_1 solid #edebeb; padding: $_30; display: flex; align-items: center; justify-content: space-between;
    .icon-box{ width: $_93; height: $_93; text-align: center; line-height: $_93; border-radius: 100%; border: $_1 solid #edebeb; margin-right: $_37;}
    .main{ width: 65%;
      .title{ color: $main-title; font-size: $_30;}
      >dd{ line-height: 1.5; font-size: $_20;}
    }
    .contact-us{  font-size: $_30; text-decoration: underline; color: #046eb8;  width: $_200; text-align: right;}
    &:nth-child(2){ 
      .contact-us{ color: #8cc51a;}
    }
    &:last-child{ 
      .contact-us{ color: #d72e8b;}
    }
  }
}
.page-search{ @extend .page-index; margin-bottom: 0; padding-bottom: 0; 
  position: fixed; width: 100%; z-index: 5; background-color: #f7f7f7;
  .banner-search-index{ height: $_202; flex-direction: column; align-items: center; background-color: #f7f7f7; margin-bottom: $_20; 
    .btn-add-screening{ display: none; color: #fff; text-decoration: underline; text-align: center; margin-top: $_5;}
  }
  .btm-search-box{ border: $_1 solid $main-color; border-right: 0; border-left: 0; margin-bottom: $_36; font-size: $_30;
    >a{width: 50%; display: inline-block; text-align: center; height: $_58; line-height: $_58; color: $main-color;
      &.cur{ background-color: $main-color; color: #fff;}
    }
  }
  .btn-specific-box{ font-size: $_28; padding: 0 $_38; padding-bottom: $_3;
    >a{ color: #a7a7a7; border-bottom:  $_1 solid #f7f7f7; padding-bottom: $_10; line-height: 1;
      &.cur{ color: $main-color; border-color: $main-color;}
    }
  }
  .title-list-box{background-color: #fff; border: $_1 solid #e5e5e5; border-right: 0; border-left: 0; }
  
}
.page-subscribe{ @extend .page-search; 
  //position: absolute; width: 100%; z-index: 5; background-color: #f7f7f7;
  .btm-search-box{ border-top: none; border-color: #ccc; background-color: #fff; height: $_90; line-height: $_90; margin-bottom: $_22;
    >a{ color: #1a1a1a; padding-bottom: $_15; font-size: $_30; 
      &.cur{ background-color: #fff; color: $main-color; border-bottom: $_1 solid $main-color; position: relative;
        &:after{content: ''; display: block; width: $_1; height: $_30; right: 0; top: 50%; margin-top: -$_15; position: absolute; background-color: #cccccc;}
      }
    }
  }
}
.user-avatar{ background: url('../images/banner-user.jpg') repeat-y center top; background-size: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; color: #fff;
  .user-img-box{ margin-top: $_25; display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    >.img{ border: $_1 solid #fff; border-radius: 100%; background-color: rgba($color: #fff, $alpha: .2); padding: $_12; overflow: hidden; box-sizing: border-box; width: $_210; height: $_210;
      >span{display: block; border: $_2 solid #fff; border-radius: 100%; background-color: rgba($color: #fff, $alpha: .2); padding: $_10; width: $_184; height: $_184; overflow: hidden;box-sizing: border-box;
        >em{ display: block; width: $_159; height: $_159; overflow: hidden; border-radius: 100%;}
      }
    }
    >.user-name{ font-size: $_32; margin-top: $_13; width: 100%; text-align: center; box-sizing: border-box; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  }
  .user-main{ display: flex; font-size: $_28; width: 100%; margin-top: $_20; overflow: hidden;
    .info{ background-color: rgba($color: #000000, $alpha: .11); text-align: center; width: 50%; padding: $_40 0 $_44; line-height: 1;
      >a{ display: block; font-size: $_24; color: #fff; text-decoration: underline; line-height: 1; margin-top: $_25;
        &.vip{ color: #ffad37;}
      }
      &:last-child{ margin-left: $_2;}
    }
  }
}
.user-info{ font-size: $_28; color: #1a1a1a;
  .title{ font-size: $_30; line-height: 1;  padding: $_40 $_74 $_35; border-bottom: $_1 solid #e5e5e5;}
  .info{ padding: $_30 $_74; display: flex; justify-content: space-between; border-bottom: $_1 solid #e5e5e5;
    >span{ color: #c7c7cc;}
  }
}
.addmore{ position: fixed; bottom: $_98; text-align: center; width: 100%; font-size: $_24; background-color: #fff;  }

.page-article{padding: 0 $_35; background-color: #f7f7f7; color: #191919; font-size: $_26;
  .article-title{ font-size: $_34; margin-top: $_50;}
  .else{ display: flex; justify-content: space-between; border-bottom: $_1 solid #e5e5e5; padding: $_20 0; font-size: $_20; color: #999; align-items: center; margin-bottom: $_40;
    .label{ display: inline-block; padding: $_6 $_14; background-color: #2389f9; color: #fff; border-radius: $_5;}

  }
  .article-box{ font-size: $_28; padding-bottom: $_40;}
}
.subscribe-inp-body{ background-color: #fff;
  .subscribe-banner{ background: url('../images/banner-subscribe.png') no-repeat center top; background-size: 100%; height: $_180;}
  .subscribe-content{ padding:$_35 $_28 $_118; ; position: relative;
    .area-select{ padding-left: $_30; margin-left: $_43; padding-bottom: $_20; border-left: solid $_2 $main-color; 
      &:before{ content: ''; width: $_26; height: $_26; border-radius: 100%;position: absolute; background-color: $main-color; margin-left: -$_44; }
      .title{ @include inline-block; margin-bottom: $_8; margin-top: -$_8;
        h2{ font-size: $_30; color: #454545; font-weight: normal; margin-bottom: $_10;}
        p{ color: #999; font-size: $_22;
          >em{ color: $main-color;}
        }
      }
      .select{ border-radius: $_10; @include inline-block; background-color: #f2f2f2; color: #454545; font-size: $_26; padding: $_16 $_20; margin: 0 $_20 $_20 0;
        .icon{ margin-left: $_26;}
      }
      .area{ min-height: $_200;
        .btn-add{ color: $main-color; @include inline-block; border-radius: $_10; border: solid $main-color $_2; font-size: $_24; width: $_164; height: $_62; text-align: center; line-height: $_62; margin-bottom: $_20;}
      }
    }
    .industry-select{ @extend .area-select; 
      .title{ margin-bottom: $_26;
        h2>span{ font-size: $_26; color: $main-color;}
        p>em{ color: #d70000;}
      }
      .industry{ min-height: $_200; padding-right: $_28;
        .add-industry{ height: $_66;border: $_1 solid #e5e5e5; padding-left: $_20; display: flex; justify-content: space-between; margin-bottom: $_20;
          input[type='text']{ background-color: transparent; border: none; height: $_66; line-height: $_66; width: calc( 100% - 3.5rem );}
          .btn-add{ @include inline-block; background-color: $main-color; color: #fff; border: none; font-size: $_24; text-align: center; outline:none; width: $_140; height: 100%; line-height: $_66;}
        }
      }
    }
    .else{@extend .area-select; font-size: $_30; border: none; margin-bottom: $_20; line-height: 1;
      &:before{ margin-left: -$_42; }
    }
  }
  .btn-save{ width: 100%; height: $_88; line-height: $_88; color: #fff; background-color: $main-color; font-size: $_36; text-align: center; display: block; border-radius: $_10;}
}

.city-body{ 
  .city-content{ background-color: #fff; padding: $_20 $_34 $_87; 
    .city-list{ border-bottom: $_1 solid $main-border; padding: $_20 0; overflow: hidden;
      .info{ font-size: $_30; width: $_90; text-align: center; float: left;}
      .main{ font-size: $_26; float: left; width: calc( 100% - 2.25rem );
        .city{ @include inline-block; text-align: center; margin: 0 $_10 $_10 0; width: $_100; height: $_50; line-height: $_50; overflow: hidden; background-color: #f2f2f2; border-radius: $_3;
          &.cur{ background-color: $main-color; color: #fff;}
        }
        .all-city{ @extend .city;}
      }
    }
  }
  .btn-determine{ font-size: $_26; position: fixed; bottom: 0; width: 100%; background-color: $main-color; text-align: center; color: #fff; line-height: $_86; height: $_86; border-top: $_1 solid darken($color: $main-color, $amount: 10%);}
}
// .maki{ background-color: #000; width: 100%; height: 100%; position: absolute; left: 0; top:0; display: none; opacity: .5; z-index: 998;}
// .page-article{ position: fixed; width: 80%; height: $_400 *2; top: 50%; left: 50%; display: none; background-color: #fff; z-index: 999; overflow-y: scroll; box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
//   -webkit-transform: translate(-50%,-50%);
//       -ms-transform: translate(-50%,-50%);
//           transform: translate(-50%,-50%); }
.pull-down{
  position:relative;overflow:hidden;height:0;
  max-height: 60px;
}
.pull-down-content{
  position:absolute;bottom:0;
  text-align: center;
  line-height: 30px;
  color: #999;
  width: 100%;
  background-color: #f00;
}

//会员支付页面
@import 'pay';