page {
}
swiper-item {
	display: block;
	overflow: hidden;
	will-change: transform;
	border-radius: 5px;
}

.index__container {
	position: relative;
	margin-top: -180rpx;
	padding-right: 40rpx;
	padding-left: 40rpx;
}

.access-box {
	margin: 20rpx 0rpx;
}

swiper {
	display: block;
	height: 130rpx;
}

.swiper-box {
	flex: 1;
}

.swiper-item {
	flex: 1;
	flex-direction: row;
}

.access-box {
	display: flex;
	background: #ffffff;
	box-shadow: 0 12rpx 18rpx 0 rgba(10, 55, 82, 0.1);
	border-radius: 10rpx;
	margin: 20rpx 3rpx 3rpx;
}
.font-title-box{display: flex; justify-content: space-around; padding: 0 50rpx; color: #fffFFF; text-align: center;}
.font-title {	font-size: 32rpx; }
.font-title-crude { position: relative; font-size: 36rpx; }

.font-title-crude::after {
	content: '';
  display: block;
	position: absolute;
  bottom: -12rpx;
	height: 5rpx;
	width: 48rpx;
	background-color: #FFFFFF;
  border-radius: 3rpx;
  left: 50%;
	margin-left: -25rpx;

}

.data-total {
	margin-top: 50rpx;
}

.data-total-title {
	font-size: 40rpx;
	font-weight: bold;
}

.data-total-time {
	font-size: 22rpx;
	color: #707070;
}

.data-stats {}

.data-stats-title {
	font-size: 40rpx;
	font-weight: bold;
	height: 100rpx;
}

/**************布局样式设置***********************/
.flex-row {
	display: flex;
}

.flex-row-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-row-section {
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.section-title {
	font-weight: 28rpx;
	color: #000000;
	margin: 14rpx 0rpx;
}

.section-rightborder::after {
	content: '';
	position: absolute;
	top: auto;
	height: 80rpx;
	width: 4rpx;
	background-color: #e5e5e5;
	margin-left: 110rpx;
	margin-top: -140rpx;
}

.section-content {
	font-weight: 30rpx;
	margin: 14rpx 0rpx;
}

.section-remark {
	font-size: 22rpx;
	color: #8f8f8f;
	margin: 14rpx 0rpx;
}

.section-twenty {
	width: 20%;
}

.section-eighty {
	width: 80%;
	text-align: left;
}

.section-item {
	height: 200rpx;
	border: 1rpx solid #f2f2f2;
	box-shadow: #ccc 1px 5px 5px 0rpx;
	border-radius: 15rpx;
	margin: 5rpx;
	align-items: flex-start;
	margin-bottom: 20px;
}

.section-item-title {
	font-size: 32rpx;
	font-weight: bold;
	margin: 16rpx 0rpx;
	margin-top: 40rpx;
}

.section-item-content {
	font-size: 25rpx;
	color: #b8b8b8;
}

/**************字体颜色设置***********************/
.font-red {
	color: #cd2c2c;
}

.font-orange {
	color: #d9831f;
}

.font-violet {
	color: #5a5af1;
}

.font-blue {
	color: #3882f9;
}

.font-green {
	color: #389c86;
}

.font-pink {
	color: #ff6969;
}
