@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import '../../scss/common/sass/config';
//@import '../../scss/hourglass/scss/components/btn';

//color
$main-font:#999999 ;
$main-color:#1c21c4;
$main-border:#ddd;
$main-title:#7e7e7e;

.icon{ @include inline-block; background: none no-repeat center; width: 0; height: 0;
  
}
.inp-txt{ border: 1px solid $main-border; padding-left: 59px; background: url('../images/icon-user.png') no-repeat 21px center; width: 416px; height: 50px; line-height: 50px; box-sizing: border-box; border-radius: 10px; margin-bottom: 10px; font-size: 14px;
  &.inp-password{ background-image: url('../images/icon-password.png');}
  &.inp-testcode{ background-image: url('../images/icon-testcode.png')}
}

//page
.page-index{ font-size: 14px; color: $main-font;}

#header{ height: 58px; line-height: 58px; background-color: #fff; overflow: hidden; width: 1200px; margin: auto;
  .logo{ background: url('../images/logo.png') no-repeat left center; width: 76px; height: 40px; @include inline-block; background-size: 100%; margin-left: 3px;}
  .slogn{ font-size: 16px; font-weight: bold; color: $main-title;  margin-left: 26px; @include inline-block;}
  .menu{ color: $main-color; float: right; 
    >a{ color:$main-color;}
  }
}
#footer{ background-color: #fff; color: #000; font-size: 12px; text-align: center; line-height: 58px; height: 58px;}
.contents-box{ background: url('../images/banner.png') no-repeat center #3f4efd;}
.contents{  width: 1200px; margin: auto; height: 752px; position: relative;
  &:before{ content: ''; display: block; width: 702px; height: 529px; background:url( '../images/banner-01.png') center no-repeat; position: absolute; left: 0; top: 50%; margin-top: -244px; z-index: 1;} 
}

.login-content{ background-color: #fff; width: 464px; border-radius: 10px; position: absolute; top: 50%; right: 0%; margin-top: -209px; box-sizing: border-box; padding:55px 25px 25px; text-align: center; z-index: 10;
  &:before{ content: ''; display: block; border-radius: 100%; width: 140px; height: 140px; background: url('../images/logo.png') no-repeat center #fff;  margin:-125px 0 0 -70px; left: 50%; position: absolute;} 
  .title{ text-align: center; position: relative; z-index: 2; margin-bottom: 23px; font-size: 24px; color: #333; font-weight: normal;}
  .testcoed{ margin-bottom: 15px;
    .inp-txt{ width: 320px; margin-bottom: 0;}
    .btn-testcode{ @include inline-block; width: 86px;height: 50px; line-height: 50px; box-sizing: border-box; border-radius: 10px; border: 1px solid $main-border; margin-left: 8px; cursor: pointer;}
  }
  .elsebtn{ display: flex; justify-content: space-between; margin-bottom: 18px;
    #inp-checkbox{ margin-top: -3px;}
    .forget-password{ color: $main-font;}
    label{ cursor: pointer;}
  }
  .inp-submit{ display: block; width: 366px; height: 60px; line-height: 60px; color: #fff; font-size: 24px; border-radius: 30px; margin:0 auto 18px; box-shadow: 0 0 20px rgba($color: #64afff, $alpha: .59); background: linear-gradient(90deg, #1b20c3, #334ff4); border:none 0; cursor: pointer;}
  .btn-registered{color: $main-font;}
}