@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset_mobile';

//组件
//@import 'common/sass/config';
//@import 'hourglass/scss/components/btn';
//color
$main-font:#595757;
$main-title:#1e2434;
$main-color:#e60012;
$main-border:#f0f0f0; 

//default
img{ width: 100%; }
.icon{@include inline-block; background: no-repeat center; background-size: 100%;}
.btn-red{ display: block; background-color: $main-color; color: #fff; text-align: center; font-size: 18px; border-radius: 5px; height: 37px; line-height: 37px;
  em{font-weight: bold;}
}
.btn-white{@extend .btn-red; border: 1px solid $main-color; color: $main-color; box-sizing: border-box; background-color: #fff;}
.btn-green{@extend .btn-red;@include inline-block; background-color: #25be03;}
.weixin-copy{ background-color: $main-title; color: #fff; text-align: center; font-size: 18px; padding: 7px 0; margin: 0 10px; border-radius: 5px;
  span{ background-color: #fff67f; color: $main-color; @include inline-block; padding: 2.5px; height: 23.5px; line-height: 23.5px; margin-left: 5px;}
}
.weixin-copy-fixed{ position: fixed; background-color: #fff; width: 100%; height: 30px; bottom: 0; left: 0; color: $main-title; text-align: center; font-size: 16px;  box-shadow: -2.5px 0 5px rgba($color: #000000, $alpha: .1); z-index: 99;
  span{ color: $main-color; background-color: #fff;}
  em{ font-size: 12px;}
  .btn-green{ width: 60px; height: 23.5px; line-height: 23.5px; font-size: 16px;}
  .icon{ background-image: url('../images/icon-61.jpg'); width: 25.5px; height: 21.5px; margin-right: 7.5px;}
}
.page-index{ font-size: 13px; color: $main-font; line-height: 2em; overflow: hidden; background-color: #fff; }
.page-index-new{ @extend .page-index;}
.page-header{ text-align: center; margin-bottom: 44.5px; border-bottom: 1px solid $main-border; padding-bottom: 72px;
  .logo{ background: url('../images/logo.png') no-repeat center; background-size: 100%; width: 65px; height: 67px; margin:30px auto 0;}
  .logo-txt{ background: url('../images/logo-02.png') no-repeat center; background-size: 100%; width: 90.5px; height: 43px;; margin:7px auto 0;}
  .logo-comment{  position: relative; text-align: center; margin-bottom: 54px;
    >span{display: inline-block; color: $main-color; font-size: 17px; margin: 20px auto 0; padding:15px 10px 9.5px; border-radius: 25px; box-shadow: 0 10px 15px rgba($color: #000000, $alpha: .1); position: relative; z-index: 2; background-color: #fff; line-height: 1.5;} 
    &:after{ content: ''; display: block; width: 100%; height: 1px; background-color: $main-border; position: absolute; margin-top: -22.5px; z-index: 1;}
  }
  .title-first{ font-size: 29px; color: $main-title; font-weight: bold; margin-bottom: 31px;}
  .title-remarks{ font-size: 19px; color: $main-title; margin-bottom: 16px;}
  .title-red{ font-size: 27px; color: $main-color; margin-bottom: 19px; font-weight: bold;}
  .title-founder{ padding-top: 9px;
    .founder-img{ display: inline-block; background: url('../images/img.png') no-repeat center; background-size: 100%; width: 102px; height: 121px; }
    .remarks{ color: $main-title; font-size: 16px; margin: auto; width: 284.5px; height: 26px; padding-top: 7.5px; font-weight: bold; border-radius: 25px; box-shadow: 0 10px 15px rgba($color: #000000, $alpha: .1); position: relative; z-index: 2; background-color: #fff; line-height: 1.5;}
  }
}
.video-remarks{
  .notes{ text-align: center; font-size: 11px; color: #898989;}
}
.video-box{ width: 100%; overflow: hidden; margin-bottom: 35px;}
.add-weixin{  padding: 0 0 25px; text-align: center;
  .title-else{ font-size:20px; color: $main-title; font-weight: bold; margin-bottom: 24px; text-align: center;}
  .info{ color: $main-title; margin-bottom: 7.5px; 
    .icon{ margin-top: -4px; background-image: url('../images/icon-11.png'); width: 18.5px; height: 14.5px; margin-right: 5px;}
    &:nth-child(2){ 
      .icon{margin-left: 10px;}
    }
  }
}
.content{
  .title-first{ text-align: center; font-size: 29px; margin-bottom: 5px; color: $main-title; font-weight: bold; 
    .red{ color: $main-color;}
  }
  .title-remarks{ text-align: center; color: $main-title; font-size: 15px; text-transform:uppercase; margin-bottom: 21.5px;}
  
}
.module-chat{
  .info-list{display: flex; flex-wrap: wrap;
    .info{ width: 33.33%; box-sizing: border-box; padding-left:18px; margin-bottom: 40px; color: $main-title;
      &:nth-child(1) .icon{ background-image: url('../images/icon.png'); width: 16px; height: 16.5px; margin-right: 7px;}
      &:nth-child(2) .icon{ background-image: url('../images/icon-05.png'); width: 13px; height: 15px; margin-right: 7.5px;}
      &:nth-child(3) .icon{ background-image: url('../images/icon-06.png'); width: 15px; height: 15px; margin-right: 4.5px;}
      &:nth-child(5) .icon{ background-image: url('../images/icon-07.png'); width: 14px; height: 14px; margin-right: 7px;}
      &:nth-child(4) .icon{ background-image: url('../images/icon-08.png'); width: 13px; height: 13px; margin-right: 10.5px;}
      &:nth-child(6) .icon{ background-image: url('../images/icon-09.png'); width: 15.5px; height: 14px; margin-right: 4.5px;}
    }
  }
  .else-txt{ text-align: center; color: $main-title; font-size: 18px; margin-bottom: 35px;; margin-top: -6.5px;} 
  .btn-red{width: 80%; margin:0 auto 42.5px;; }
  .btn-white{ margin-bottom: 26px;}
}
.module-teaching{ margin-top: 26.5px; overflow: hidden; padding: 0 10px 50px; border-bottom: 1px solid $main-border; margin-bottom: 51.5px;
  .title-remarks{ margin-bottom: 27.5px;}
  .video-list-box{ width: 50%; height: 108.5px; overflow: hidden; box-sizing: border-box; padding-right: 11px; margin-bottom: 9.5px; float: left; position: relative; border-radius: 10px; 
    &:nth-child(2n){ padding-right: 0}
  }
  .video-list{ width: 100%; height: 108.5px; background-color: #000; border-radius: 10px; overflow: hidden; 
    .video-box{ opacity: .6;}
    .info{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; box-sizing: border-box; color: #fff;
      .icon{ background-image: url('../images/icon-12.png'); width: 25px; height: 25px; margin: 39.5px 0 7.5px;}
      .title{ font-size: 12px; font-weight: bold; line-height: 1.2em; margin-bottom: 2.5px;}
      .notes{ font-size: 6px; line-height: 1.2em;}
    }
   
  }
}
.module-solve{
  .title-remarks{ margin-bottom: 31px;}
  .solve-list{padding: 0 30px; display: flex;flex-wrap: wrap; margin-bottom: 40px;
    .num{background-color: #fff; width: 60.5px; height: 59px;; line-height: 59px;; box-sizing: border-box; border:1px solid $main-color; text-align: center; border-radius: 100%; box-shadow: 5px 5px 0 #dcdddd; margin-right: 40.5px;}
    .info{ width: calc( 100% - 60.5px - 40.5px); color: $main-title;
      .title{ font-size:18px; font-weight: bold; margin-bottom: 10px;}
      .describe{ line-height: 1.5;
        em{ color: $main-color;}
      }
    }
    &:nth-child(3) .icon{ background-image: url('../images/icon-13.png'); width: 10px; height: 21px;}
    &:nth-child(4) .icon{ background-image: url('../images/icon-14.png'); width: 16.5px; height: 22px;}
    &:nth-child(5) .icon{ background-image: url('../images/icon-15.png'); width: 16.5px; height: 22px;}
    &:nth-child(6) .icon{ background-image: url('../images/icon-16.png'); width: 17.5px; height: 21px;}
    &:nth-child(7) .icon{ background-image: url('../images/icon.jpg'); width: 16px; height: 21px;}
    &:nth-child(8) .icon{ background-image: url('../images/icon-18.png'); width: 17px; height: 21px;}
  }
}
.module-institution{ margin-top: 45px;  border-bottom: 1px solid $main-border; margin-bottom: 55px;
  .title-first{ font-size:37px; line-height: 1.3; padding: 0 20px; }
  .institution-box{ display: flex; flex-wrap: wrap; padding: 5px;
    .institution-list{ width: 50%; text-align: center; padding: 0 8px; box-sizing: border-box; color: $main-title; margin-bottom: 42.5px;;
      .info{ 
        .title{ font-weight: bold; margin-bottom: 2.5px; font-size: 13px; line-height: 1.5;}
        .describe{ font-size: 10px; line-height: 1.5em;
          em{ color: $main-color;}
        }
      }
      &:nth-child(1) .icon{ background-image: url('../images/icon-19.png'); width: 38px; height: 38px; margin-bottom: 18.5px;}
      &:nth-child(2) .icon{ background-image: url('../images/icon-20.png'); width: 39.5px; height: 34px; margin-bottom: 22.5px;}
      &:nth-child(3) .icon{ background-image: url('../images/icon-22.png'); width: 40.5px; height: 35px;; margin-bottom: 16.5px;}
      &:nth-child(4) .icon{ background-image: url('../images/icon-21.png'); width: 33px; height: 37px; margin-bottom: 14px;}
    }
  }
}
.module-course{ border-bottom: 1px solid $main-border; margin-bottom: 55px;
  .course-box{ display: flex; flex-wrap: wrap; padding: 5px;
    .course-list{ width: 50%; text-align: center; padding: 0 8px; box-sizing: border-box; color: $main-title; margin-bottom: 42.5px;;
      .info{ 
        .title{ font-weight: bold; margin-bottom: 2.5px; font-size: 13px; line-height: 1.5;}
        .describe{ font-size: 11px; line-height: 1.5em;
          em{ color: $main-color;}
        }
      }
      &:nth-child(1) .icon{ background-image: url('../images/icon-23.png'); width: 27.5px; height: 27.5px; margin-bottom: 20.5px;}
      &:nth-child(2) .icon{ background-image: url('../images/icon-24.png'); width: 33px; height: 33px; margin-bottom: 14.5px;}
      &:nth-child(3) .icon{ background-image: url('../images/icon-25.png'); width: 27.5px; height: 26.5px; margin-bottom: 14.5px;}
      &:nth-child(4) .icon{ background-image: url('../images/icon-26.png'); width: 38px; height: 32.5px; margin-bottom: 8px;}
    }
  }
}
.module-service{ padding-bottom: 20px;
  .course-list{ border-top: 1px solid $main-border; margin: 0 26.5px; padding: 25px 0; display: flex; 
    .info{ 
      .title{ font-size: 16px; margin-bottom: 7.5px; font-weight: bold; line-height: 1; color: $main-title;}
      .describe{ font-size: 12px; line-height: 1.5;}
    }
    &:nth-child(3) .icon{ background-image: url('../images/icon-27.png'); width: 44px; height: 44px; margin:0 29.5px 0 22px;}
    &:nth-child(4) .icon{ background-image: url('../images/icon-28.png'); width: 44px; height: 26.5px; margin:0 29.5px 0 22px;}
    &:nth-child(5) .icon{ background-image: url('../images/icon-29.png'); width: 37px; height: 36px; margin:0 32px 0 24px;}
  }
}
.module-emotional{ margin-top: 27.5px; border-bottom: 1px solid $main-border; padding-bottom: 40px;}
.module-preferred{ @extend .module-emotional; padding: 0 11px 39px;
  .img-introduce{ border: 1px solid $main-border; border-radius: 10px; overflow: hidden;
    .describe{ padding: 10px 25px; color: $main-title; line-height: 1.5;}
  }
}
.module-master{ @extend .module-preferred; padding: 0 11px 39px;  border: 0 none;
  .title-first{ font-size: 24px;}
  .img-introduce{ margin-bottom: 12px;
    .img{ padding: 7px 7px 0;}
  }
  .img-list{ display: flex; flex-wrap: wrap;
    .img{ width: 50%;box-sizing: border-box; padding: 0 6.5px 10px 0;
      span{display: block; box-sizing: border-box; padding: 7px; border: 1px solid $main-border; border-radius: 10px;}
      &:nth-child(2n){ padding-left: 6.5px; padding-right:0; }
    }
  }
}
.module-authoritative{ margin-top: 47px;
  .title-first{ line-height: 1.2;}
  .img-list{ display: flex; flex-wrap: wrap; padding: 0 11.5px; margin-bottom:23px;
    .img{ width: 33.33%; padding: 0 10.5px 10px 0; box-sizing: border-box;
      span{display: block; border: 1px solid $main-border; }
      &:nth-child(3n){ padding-right: 0;}
    }
  }
}
.module-quality{ margin-top: 26.5px; border-bottom: 1px solid $main-border; padding-bottom: 40px;
  .title-first{ font-size: 24px;}
}
.module-feedback{ margin-top: 40px;
  .img-list{ display: flex; flex-wrap: wrap; padding: 0 11px;
    .img{ width: 50%;box-sizing: border-box; padding: 0 6.5px 10px 0;
      span{display: block; box-sizing: border-box; padding: 7px; border: 1px solid $main-border; border-radius: 10px; }
      &:nth-child(2n){ padding-left: 6.5px; padding-right:0; }
      &:last-child{ width: 100%; padding:8.5px 0 26.5px;
        span{ padding: 13.5px 7px;}
      }
    }
  }
  .btn-red{ margin: 0 22.5px 32.5px;}
}
.txt-box{ padding: 0 11px 45px; margin-bottom: 26px; border-bottom: 4.5px solid $main-border; margin-top: 26.5px; color: $main-title; 
  .title{ font-size: 12px; font-weight: bold;}
  .txt{ font-size: 10px; line-height: 1.5; margin-bottom: 5px; position: relative; padding-left:11px;
    &:before{ content: ''; position: absolute; display: block; background-color: $main-title; width: 6px; height: 6px; left: 0; top: 7px; float: left; }
    em{ color: $main-color;}
  }
}
.module-comment{
  .title-first{ margin-bottom: 31px;}
}
.user-comment-list{ padding: 0 10.5px 25px; border-bottom: 4.5px solid $main-border; margin-bottom: 20px;
  header{ overflow: hidden;
    .fabulous{ float: right; color: $main-color;line-height: 42.5px;;
      .icon{ background-image: url('../images/icon-55.jpg'); width: 13px; height: 13px; margin-top: -4px;  margin-right: 3.5px;}
    }
    .user-img{ @include inline-block; width: 44px; height: 44px; margin-right: 6px;}
    .user-name{ @include inline-block; line-height: 42.5px;; color: #898989;}
  }
  .reply{ border-top: 1px solid $main-border; padding:15px 0 0 49px; color: #898989; font-weight: bold; margin: 17.5px 0 10px;}
  .txt{ padding-left: 49px; color: $main-title; font-size: 11px; line-height: 1.5;}
  &:last-child{ border:none;}
}

.page-index-new{
  .add-weixin{ padding: 0;
    .title-else{ margin-bottom: 5px;}
    .info{ margin-bottom: 0;}
  }
  .page-header{ padding-bottom: 50px; margin-bottom: 55px;
    .video-box{ margin-bottom: 15px;}
    .logo{ background-image: url('../images/logo-l.png'); width: 196.5px; height: 27px; margin: 19.5px 0 17px 30.5px;; }
    p.sep{ background-color: $main-border; height: 4.5px; width: 100%; margin-bottom: 18.5px;}
    .logo-comment{ background: url('../images/banner.png') no-repeat center; background-size: 100%; width: 200px + 47px; height:110.5px;  margin:0 auto 10px;
      &:after{ display: none;}
    }
    .video-remarks{ margin-bottom: 35px;;
      .btn-white{ margin: 0 37px 13px;}
    }
    .title-first{ margin-top: 52.5px;}
    .title-founder{ padding-top: 10px;}
  }
  .module-teaching,
  .module-course{ border:none; margin: 0;}
  .module-solve{ margin-top: 47.5px; border-bottom: 1px solid $main-border; margin-bottom: 65px;}
  .module-authoritative{ border-bottom: 1px solid $main-border;}
  .module-feedback{
    .add-weixin{ padding-bottom: 25px;}
  }
}

@media screen and (min-width: 769px){
  body{background-color: rgb(231, 232, 235);}
  .page-index{ width: 500px; margin: auto; box-shadow: 0 0 20px rgba($color: #000000, $alpha: .1)  }
  .weixin-copy-fixed{width: 500px; left: 50%; margin-left: -(500px/2);}
}
