@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import '../../scss/common/sass/config';
//@import '../../scss/hourglass/scss/components/btn';

//color
$main-font:#929292;
$main-color:#2389f9;
$main-border:#e8e8e8;


//default
input::-webkit-input-placeholder,
input.placeholder{
  color:#d0d0d0;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#d0d0d0;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#d0d0d0;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#d0d0d0;
}
.icon{ @include inline-block; background: none no-repeat center; background-size: 100%;
  &.icon-email{ background-image: url('../images/icon-email.png'); width: 18px; height: 18px;}
  &.icon-phone{ background-image: url('../images/icon-phone.png'); width: 18px; height: 18px;}
  &.icon-user{ background-image: url('../images/icon-user.png'); width: 24px; height: 24px;}
  &.icon-passwd{ background-image: url('../images/icon-passwd.png'); width: 24px; height: 25px;}
  &.icon-star{ background-image: url('../images/icon-star.png'); background-size: 100%; width: 60px; height: 60px;}
}
.btn-submit{ display: block; margin: 20px auto 0; border:none 0; background-color:$main-color; color: #fff; font-size: 26px; line-height: 50px; width: 287px; height: 50px; border-radius: 40px; letter-spacing:10px; cursor: pointer;}
.page-index{ font-size: 16px; color: $main-font; line-height: 1.5;}
.content-box{ position: relative; overflow: hidden; width: 1200px; box-sizing: border-box; margin: auto;}
.content-title{ text-align: center; margin-top: 40px;
  .title{ border-bottom: 1px solid $main-color; padding-bottom: 5px; margin-bottom: 11px;}
  .sum-title{ color: $color_c; font-size: 14px;}
}
.intr-title{
  .info{border-top: 2px solid $main-border; font-size: 22px; color: darken($color: $main-font, $amount: 24.2%); padding-top: 15px; margin-top: 15px; line-height: 1; }
}
//header
.page-header{ position:fixed; top: 0; width: 100%; height: 70px; background-color: hsla(0, 0%, 100%, .1); z-index: 10; padding-top:11px; box-sizing: border-box;
  .login{ float: right; margin-right:10px; margin-top: 3px;
    .btn-registered,
    .btn-login{ @include inline-block; font-size: 20px; border:1px solid #fff; border-radius: 27px; padding: 0 26px; line-height: 40px; height: 40px; color: #fff; margin-left: 22px;}
  }
  .logo{ background: url('../images/logo.png') no-repeat left top; background-size: 100%; width: 111; height: 48px; @include inline-block; margin-right:40px; margin-left: 3%;
    >a{ display: block; text-indent: -999em;}
  }
  .nav{ overflow: hidden; @include inline-block;
    .btn-nav{ float: left; font-size: 18px; color: #fff;
      >a{ color: #fff; @include inline-block; font-weight: bold;
        &.cur{ color: #89c1ff; border-bottom: 2px solid #89c1ff;}
      }
    }
    .sep{ @include inline-block; margin: -5px 10px 0;}
  } 
}

//banner
.page-banner{ background-color: #0054ff; box-sizing: border-box; overflow: hidden; position: relative; 
  .content-box{ height: 689px; overflow: visible; }
  .bg-star{ background:url('../images/bg-banner.png') no-repeat center top; position: absolute; top: -90px; left: 0; width: 100%; height: 689px; z-index: 0; }
  .icon-star{ position: absolute; left: 50%; top: 50%; opacity: .8;
    &:nth-child(1){ width: 45px; height: 45px; margin-left: -100px; margin-top: -160px; animation: opacity-in 3s linear infinite; }
    &:nth-child(2){ width: 20px; height: 20px; margin: 100px 0 0 -300px; animation: opacity-in 5s linear infinite;}
    &:nth-child(3){ width: 10px; height: 10px; margin-top: 60px; animation: opacity-in 10s linear infinite;}
    &:nth-child(4){ width: 30px; height: 30px; margin-left: -600px; top: 55%; animation: opacity-in 8s linear infinite;}
  }
  .title{ position: absolute; margin: -100px 0 0 2px; top: 50%; left: 0; width:555px;
    >img{ width: 100%;}
  }
  .animation-banner{ float: right; background: url('../images/bg-banner-yuan.png') no-repeat center top; background-size: 100%; width: 540px; height: 540px; position: relative; margin-top: 90px;
    .huan{ background: none no-repeat center top; background-size: 100%; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
      &.huan-1{ background-image: url('../images/bg-nei-01.png'); animation:rotate-zhuan 22s linear infinite;}
      &.huan-2{ background-image: url('../images/bg-nei-02.png'); animation:rotate-zhuan 18s linear infinite;}
      &.huan-3{ background-image: url('../images/bg-nei-03.png'); animation:rotate-zhuan 13s linear infinite;}
    }
  }
  .sum-title{ font-size: 32px; color: #fff; margin: -30px 0 0 2px; position: absolute; top: 50%;}
  .anination-wave{ position: relative; width: 200px; height: 200px; background-color: rgb(118, 218, 255); border-radius: 50%;
    &::before,
    &::after{ content: ""; position: absolute; width: 400px; height: 400px; top: 0; left: 50%; background-color: rgba(255, 255, 255, .4); border-radius: 45%; transform: translate(-50%, -70%) rotate(0); animation: rotate 6s linear infinite; z-index: 10; }
    &::after { border-radius: 47%; background-color: rgba(255, 255, 255, .9); transform: translate(-50%, -70%) rotate(0); animation: rotate 10s linear -5s infinite; z-index: 20; }
  }
  .canvas{ height: 160px; position: absolute; bottom: 0; width: 100%;}
}

//content
.module-business{ background-color: #fff; margin-top: -20px;
  .content-box{padding:0 64px; box-sizing: border-box;
  }
  .intr-business{ overflow: hidden; padding: 30px 0 50px;
    .main{ float: left; text-align: center; margin: 45px 0; width: 25%; font-size: 16px;
      .title{ margin: 35px 0 15px; color:darken($color: $main-font, $amount: 11%) ; font-weight: bold; font-size: 21px; line-height: 1;}
      .icon{ width: 91px; height: 89px; background-size: 100%; position: relative; overflow: hidden;
        .animation-i{@extend .icon; }
      }
      .icon-sj{ background-image: url('../images/bg-icon-business-01.png');
        .animation-i{ background-image: url('../images/animation-icon-business-01.png'); }
      }
      .icon-wap{ background-image: url('../images/bg-icon-business-02.png');
        .animation-i{ background-image: url('../images/animation-icon-business-02.png'); width: 20px; height: 34px; position: absolute; left: 36px; bottom: 25px; }
      }
      .icon-data{ background-image: url('../images/bg-icon-business-03.png');
        .animation-i{ background-image: url('../images/animation-icon-business-03.png'); position: absolute; left: 0; top: 0; }
      }
      .icon-gx{ background-image: url('../images/bg-icon-business-04.png');
        .animation-i{ background-image: url('../images/animation-icon-business-04.png'); }
      }
      .icon-sc{ background-image: url('../images/bg-icon-business-05.png');
        .animation-i{ background-image: url('../images/animation-icon-business-05.png'); width: 37px; height: 37px; position: absolute; right: 18px; top: 24px; }
      }
      .icon-fz{ background-image: url('../images/bg-icon-business-06.png');
        .animation-i{ width: 20px; height: 20px; position: absolute;
          &:nth-child(1){background-image: url('../images/animation-icon-business-06-a.png'); top: 43px; right: 10px; }
          &:nth-child(2){background-image: url('../images/animation-icon-business-06-a.png'); top: 63px; right: 30px; }
        }
      }
      .icon-zj{ background-image: url('../images/bg-icon-business-07.png');
        .animation-i{ background-image: url('../images/animation-icon-business-07.png'); }
      }
      .icon-fx{ background-image: url('../images/bg-icon-business-08.png'); 
        .animation-i{ background-image: url('../images/animation-icon-business-08.png')}
      }
      &:hover{
        .icon-sj{ 
          .animation-i{  animation: opacity-in-1 2s linear;}
        }
        .icon-wap{ 
          .animation-i{ animation: height-rise 3s linear;}
        }
        .icon-data{ 
          .animation-i{ animation: top-down 3s linear;}
        }
        .icon-gx{ 
          .animation-i{ animation: opacity-in-1 2s linear;}
        }
        .icon-sc{ 
          .animation-i{ animation: narrow 3s linear;}
        }
        .icon-fz{ 
          .animation-i{ 
            &:nth-child(1){ animation: top-down-1 1.5s linear;}
            &:nth-child(2){ animation: top-down-2 1.5s linear .3s;}
          }
        }
        .icon-zj{ 
          .animation-i{ animation: opacity-in-1 3s linear;}
        }
        .icon-fx{ animation:rotate-zhuan-1 5s linear; }
      }
    }
  }
}
.module-customized{@extend .module-business; background-color: #f3f3f3;
  .intr-customized{ height: 610px; position: relative;
    .main{ float: left; text-align: center; margin-top:65px; width: 340px; border-radius: 10px; background-color: #fff; overflow: hidden; cursor: pointer; position: absolute;
      >dt{ background-color: #1167c5; padding:66px 0 26px;
        .title{ margin-top: 52px; color: #fff; font-weight: bold; font-size: 20px; line-height: 1; }
        >img{ width: 137px; }
      }
      .info{ padding: 31px 0 32px;box-sizing: border-box; line-height: 34px;
        >em{ display: none; }
        .link-a{ display: block; font-size: 20px; font-weight: bold; width: 110px; padding-top: 26px; line-height: 1; margin: auto; color: $main-color; border-bottom: 1px solid $main-color; }
      }
      &:nth-child(3){ right: 0;
        &.cur{ margin-right:-53px; }
      }
      &:nth-child(2){ left: 50%; margin-left: -170px;
        &.cur{ margin-left: -213px; }
      }
      &:nth-child(1).cur{ left: 0; margin-left: -53px; }
      &.cur{ box-shadow: 0 0 25px hsla(0, 0%, 0%, .1); width: 431px; margin-top: 44px; z-index: 1; cursor: pointer;
        >dt{ background-color: #2389f9; padding:58px 0 34px;
          >img{ width: 178px; }
          .title{  margin-top: 46px; font-size: 27px; }
        }
        .info{ padding: 30px 0 36px; font-size: 18px; line-height: 32px;}
      }
    }
  }
}
.module-dynamic{@extend .module-business; background:url('../images/bg-dynamic.jpg') no-repeat center top #0056f6; height: 660px; position: relative;
  .content-box{ height: 100%; }
  .content-title{ margin-bottom: 25px;
    .title{ border-color:#fff; }
    .sum-title{ color: #fff;}
  }
  .intr-dynamic{ background: url('../images/bg-dynamic-info.png') no-repeat center top; background-size: 100%; width:866px; height: 304px; padding: 9px; margin: auto;
    .main{ background-color:hsla(233, 78%, 39%,.3); border:1px solid hsla(185, 100%, 50%, .3); height: 100%; box-sizing: border-box; overflow: hidden; padding-top: 53px; padding-left: 5%;
      .info{ padding-left:30px; box-sizing: border-box; color: #fff; float: left; width: 50%; font-size: 22px; margin-bottom: 24px; 
        .sep{ @include inline-block; background: url('../images/icon-dynamic.png') no-repeat left top; width: 28px; height: 28px; margin-top: -5px; margin-right: 10px;}
        &:nth-child(even){ padding-left: 60px;}
      }
    }
  }
  .animation-dynamic-signal{ @include inline-block; background: url('../images/icon-dynamic-01.png') no-repeat left center; background-size: 100%; width: 88px; height: 88px; position: absolute; z-index: 5; left: 50%; top: 50%;
    &:nth-child(2){ margin:206px 0 0 -586px; animation: rotate-zhuan 10s linear infinite 5s; }
    &:nth-child(3){ margin:178px 0 0 -422px; animation: rotate-zhuan 13s linear infinite 2s;}
    &:nth-child(4){ margin:185px 0 0 -318px; animation: rotate-zhuan 5s linear infinite 3s;}
    &:nth-child(5){ margin:96px 0 0 -88px; animation: rotate-zhuan 12s linear infinite 5s;}
    &:nth-child(6){ margin:163px 0 0 92px; animation: rotate-zhuan 7s linear infinite 3s;}
    &:nth-child(7){ margin:160px 0 0 316px; animation: rotate-zhuan 18s linear infinite 8s;}
    &:nth-child(8){ margin:218px 0 0 486px; animation: rotate-zhuan 6s linear infinite 4s;}
  }
}

.module-core{ background: url('../images/bg-core.png') no-repeat center top #1628b2; 
  .content-box{ height: 100%; }
  .content-title{ margin: 63px 0 69px;
    .title{ border-color:#fff; }
    .sum-title{ color: #fff;}
  }
  .intr-core{ padding-bottom: 34px;
    .main{ float: left; text-align: center; width: 33.33%; color: #fff; margin-bottom:46px; cursor: pointer;
      >dt>img{ width: 116px;}
      .title{ font-size: 20px; margin-top: 18px; margin-bottom: 1px; font-weight: bold;}
      &:hover{ animation: amplification .5s forwards; }
    }
  }
}

//footer
.page-footer{ background-color: #454545; text-align: center; padding: 32px 0 27px; color: #93969b;
  .link-a{ color:#93969b; font-size: 14px;}
  .sep{@include inline-block; margin: -3px 6px 0;}
  .copyright{font-size: 12px; margin-top: 4px;}
}

//layrer-bg
.layrer-bg { display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:98; background:rgba(0, 0, 0, 0.5);}
.layrer-box { display:none; position:fixed; left:50%; top:50%; z-index:99; background-color: #fff; box-shadow: 0 0 25px hsla(0, 0%, 0%, .35); border-radius: 15px; box-sizing: border-box; padding-top: 80px;
  .logo-layrer{ position: absolute; left: 50%; margin:-153px 0 0 -72px; width: 145px;
    >img{ width: 100%;}
  }
  .title,
  .sub-center{ text-align: center; margin-top: 5px; overflow: hidden;
    >img{ width: 525px;}
  }
  .inp-list{ border: 2px solid $main-border; border-radius: 3px; overflow: hidden;
    .inp-txt{ border:0 none; font-size:14px; line-height: 36px; height: 36px; vertical-align: middle; }
    .sep{@include inline-block; width: 2px; height: 25px; background-color: #e8e8e8; font-size: 25px; margin-right: 20px;}
  }
}
.icon-close { display:inline-block; vertical-align:middle; *vertical-align:auto; zoom:1; *display:inline; background:url("../images/icon-close.png") no-repeat center; width:26px; height:26px; position:absolute; right:20px; margin-top:-60px; cursor:pointer; z-index:10;}
.layrer-registered{ width:640px; height:452px; margin-left:-320px; margin-top:-226px; 
  .registered-form{ width: 500px; margin:30px auto 0;
    .icon{ margin:0 17px;
      &.icon-user{ width: 18px; height: 18px;}
    }
    .inp-list{ margin: 7px 20px; height: 42px; line-height: 42px; 
      .inp-txt{ width: 300px;}
    }
    
    .notes{ font-size: 12px; color: $color_d; }
  }
}

.layrer-login{ width:506px; height:434px; margin-left:-253px; margin-top:-217px; 
  .title{ letter-spacing:5px; color: $main-border; margin-bottom: 43px;
    .sep{ @include inline-block; margin: 0 10px;}
    .btn-password{ font-size: 18px; color: #3d3d3d; @include inline-block;
      &.cur{ color: lighten($color: $main-color, $amount: 8%);}
    }
    .btn-password-rendom{ @extend .btn-password;}
  }
  .login-form{ width: 395px; margin: auto;
    .icon{ margin:0 13px; }
    .inp-list{ margin: 7px 0; height: 50px; line-height: 50px; }
  }
  .rendom-pw{ font-size:16px; margin-left: 20px; @include inline-block; display: none; 
    .a-link{@include inline-block; color: $main-color; letter-spacing:5px;}
  }
  .sub-center{ 
    // .btn-submit{ background: url('../images/bg-ly.png') no-repeat center; width: 100%; height: 64px; color: #fff; letter-spacing:15px; font-size: 24px; line-height: 64pxv; text-align: center; border: none 0; cursor: pointer;}
    .btn-forget-pw{ float: right; margin-top: 25px; letter-spacing: 5px; color: #3d3d3d; font-size: 16px;}
  }
  
}

@keyframes rotate-zhuan{
  0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotate-zhuan-1{
  0%{ transform:rotate(0deg);}
  100%{ transform:rotate(360deg);}
}

@keyframes amplification{
  0%{ transform:scale(1);}
  100%{ transform:scale(1.05); }
}
@keyframes narrow{
  0%{ transform:scale(1.5);}
  50%{ transform:scale(1); }
  100%{ transform:scale(1.5);}
}
@keyframes narrow-1{
  0%{ transform:scale(1);}
  100%{ transform:scale(1.03);}
}
@keyframes opacity-in{
  0%{ opacity: 0;}
  50%{ opacity: 1; }
  100%{ opacity: 0;}
}
@keyframes opacity-in-1{
  0%{ opacity: 0;}
  100%{ opacity: 1; }
}
@keyframes height-rise{
  0%{ height: 0;}
  100%{ height:34px; }
}
@keyframes top-down{
  0%{ top: -111px;}
  25%{ top:0; }
  50%{ top:0; }
  75%{ top: 0;}
  100%{ top:222px; }
}
@keyframes top-down-1{
  0%{ top:43px; }
  50%{ top: 100px;}
  51%{ top: -20px;}
  100%{ top:43px; }
}
@keyframes top-down-2{
  0%{ top:63px;}
  50%{ top: 100px;}
  51%{ top: -20px;}
  100%{ top:63px;}
}

/*introduction-module-roduct*/
.introduction-module-roduct{ background: url('../images/bg-introduction-01.png') no-repeat center bottom;
  .content-box{ font-size: 14px; color: lighten($color: $main-font, $amount: 7%);
  }
}
.module-roduct-else{ background-image: url('../images/bg-introduction-02.png');}
.content-introd-no1{ margin-bottom: 97px; padding-top: 85px;
  .main{ margin-top: 25px; overflow: hidden;
    .img-cumputer{ float: right; margin-right: 57px;  *display:inline;}
    .info{ text-indent: 2em; width: 520px; margin-top: 73px; line-height: 2; font-size: 18px;}
  }
}
.content-introd-no2{ margin-bottom: 100px;
  .intr-title{ text-align: right;}
  .main{ overflow: hidden; cursor: pointer;
    dt>img{position: relative;}
    .trait-list{ float: left; text-align: center; width: 25%; margin-top: 53px;
      .title{ color: #3586fe; font-size: 22px; font-weight: bold; margin-top: 45px; line-height: 1; margin-bottom: 18px;}
    }
  }
}
.content-introd-no3{  padding-bottom: 70px;
  .intr-title{ border-color: #92b8fe;}
  .main{ overflow: hidden; cursor: pointer;
    .trait-list{ float: left; width: 33.33%; margin-top: 25px;
      dt{ text-align: center;
        >img{ position: relative;}
      }
      .info{ margin-top: 66px; padding-left: 62px; line-height: 2;}
    }
  }
}
.content-introd-no4{ padding: 97px 0 107px; 
  .intr-title{ text-align: right;
    .info{ color: #fff;}
  }
  .main{ position: relative; width: 433px; height: 433px; margin:68px auto 0;
    .trait-list{ color: #fff; position: absolute; top: 83px;
      dt{ font-size: 20px; margin-bottom: 10px; font-weight: bold;}
      &:nth-child(odd){ text-align: right; left: -295px; }
      &:nth-child(even){ right: -312px; }
      &:nth-child(3){ top: 298px; left: -215px; }
      &:nth-child(4){ top: 298px; right: -247px; }
    }
    .img-bg{ position:absolute; background: url('../images/img-introduction-05.png') no-repeat center; background-size: 100%; width: 433px; height: 433px; left: 0; top: 0; 
      .sep{ position:absolute; width: 56px; height: 1px; font-size: 0; background-color: #fff; top: 117px;
        .yuan{ position:absolute; border-radius: 50%; background-color: #fff; width: 13px; height: 13px; margin-top: -6px; }
        &:nth-child(even){ right: -23px; }
        &:nth-child(odd){ left: -34px;
          .yuan{ margin-left: 52px;}
        }
        &:nth-child(3){ top: 335px; left: -24px;}
        &:nth-child(4){ top: 335px; right: -12px;}
      }
      &:hover{animation: narrow-1 1s forwards;}
    }
  }
}