@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import '../../scss/common/sass/config';
//@import '../../scss/hourglass/scss/components/btn';

//color
$main-font:#929292;
$main-color:#0054ff;
$main-border:#e8e8e8;


//default
.icon{ @include inline-block; background: none no-repeat center; background-size: 100%;
  &.icon-email{ background-image: url('../images/icon-email.png'); width: 28px; height: 28px;}
  &.icon-phone{ background-image: url('../images/icon-phone.png'); width: 28px; height: 28px;}
  &.icon-user{ background-image: url('../images/icon-user.png'); width: 36px; height: 36px;}
  &.icon-passwd{ background-image: url('../images/icon-passwd.png'); width: 36px; height: 37px;}
}
.page-index{ font-size: 24px; color: $main-font; line-height: 30px;}
.content-box{ width: 1920px; margin: auto; position: relative; overflow: hidden;}
.content-title{ text-align: center; margin-top: 68px;
  .title{ border-bottom: 1px solid $main-color; padding-bottom: 8px; margin-bottom: 16px;}
  .sum-title{ color: $color_c;}
}

//header
.page-header{ position: absolute; width: 100%; height: 102px; background-color: hsla(0, 0%, 100%, .1); z-index: 10; padding-top: 18px;
  .login{ float: right; margin-top: 13px;
    .btn-registered,
    .btn-login{ @include inline-block; font-size: 30px; border:1px solid #fff; border-radius: 27px; padding: 0 38px; line-height: 55px; height: 55px; color: #fff; margin-right: 30px;}
  }
  .logo{ background: url('../images/logo.png') no-repeat left top; width: 160px; height: 84px; @include inline-block; margin-right: 52px;
    >a{ display: block; text-indent: -999em;}
  }
  .nav{ overflow: hidden; @include inline-block;
    .btn-nav{ float: left; font-size: 30px; color: #fff;
      >a{ color: #fff; @include inline-block; font-weight: bold; padding-bottom: 5px;
        &.cur{ color: #89c1ff; border-bottom: 1px solid #89c1ff;}
      }
    }
    .sep{ @include inline-block; margin: -5px 32px 0;}
  }
}

//banner
.page-banner{ background-color: $main-color; height: 944px; box-sizing: border-box; padding-top: 90px;
  .content-box{ padding-left: 90px;}
  .bg-star{ background:url('../images/bg-banner.png') no-repeat center top; position: absolute; top: -90px; left: 0; width: 100%; height: 944px; z-index: 0;}
  .title{ padding-top: 385px;}
  .animation-banner{ float: right; background: url('../images/img-banner.png') no-repeat center top; width: 830px; height: 830px;}
  .sum-title{ font-size: 50px; color: hsla(0, 0%, 100%, .5); margin-top: 35px;}
}

//content
.module-business{ background-color: #fcfcfc;
  .content-box{padding:0 97px; box-sizing: border-box;}
  .intr-business{ overflow: hidden; padding: 30px 0 50px;
    .main{ float: left; text-align: center; margin: 45px 0; width: 25%;
      .title{ margin-top: 40px; color:darken($color: $main-font, $amount: 11%) ; font-weight: bold; font-size: 30px; margin-bottom: 20px;}
    }
  }
}
.module-customized{@extend .module-business; background-color: #f3f3f3;
  .intr-customized{ overflow: hidden; padding: 0 68px;
    .main{ float: left; text-align: center; margin:86px 32px 102px; width: 466px; border-radius: 10px; background-color: #fff; overflow: hidden; cursor: pointer;
      >dt{ background-color: #1167c5; padding: 88px 0 36px;
        .title{ margin-top: 72px; color: #fff; font-weight: bold; font-size: 30px;}
      }
      .info{ padding: 60px 0 58px; height: 223px; box-sizing: border-box; line-height: 40px;
        >em{ display: none; }
        .link-a{ display: block; font-size: 30px; width: 142px; padding-top: 20px; line-height: 36px; margin: auto; color: lighten($color: $main-color, $amount: 7.8%); border-bottom: 2px solid lighten($color: $main-color, $amount: 7.8%); }
      }
      &.cur{ position: relative; transform:scale(1.3, 1.1); box-shadow: 0 0 25px hsla(0, 0%, 0%, .1);
        >dt{ background-color: lighten($color: $main-color, $amount: 7.8%); }
        .info{ padding: 50px 0; font-size: 26px;}
      }
    }
  }
}
.module-dynamic{@extend .module-business; background:url('../images/bg-dynamic.png') no-repeat center top #0056f6; height: 942px;
  .content-box{ height: 100%; }
  .content-title{ margin-bottom: 40px;
    .title{ border-color:#fff; }
    .sum-title{ color: #fff;}
  }
  .intr-dynamic{ background: url('../images/bg-dynamic-info.png') no-repeat center top; width: 1230px; height: 416px; padding: 12px; margin: auto;
    .main{ background-color:hsla(233, 78%, 39%,.3); border:1px solid hsla(185, 100%, 50%, .3); height: 100%; box-sizing: border-box; overflow: hidden; padding-top: 86px;
      .info{ padding-left: 110px; box-sizing: border-box; color: #fff; float: left; width: 48%; font-size: 35px; margin-bottom: 36px;
        .sep{ @include inline-block; background: url('../images/icon-dynamic.png') no-repeat left top; width: 28px; height: 28px; margin-top: -5px; margin-right: 10px;}
      }
    }
  }
  .animation-dynamic-signal{ @include inline-block; background: url('../images/icon-dynamic-01.png') no-repeat left center; width: 127px; height: 126px; position: absolute; z-index: 5;
    &:nth-child(3){ left: 112px; bottom: 64px;}
    &:nth-child(4){ left: 354px; bottom: 104px;}
    &:nth-child(5){ left: 505px; bottom: 94px;}
    &:nth-child(6){ left: 836px; bottom: 222px;}
    &:nth-child(7){ right: 694px; bottom: 130px;}
    &:nth-child(8){ right: 356px; bottom: 124px;}
    &:nth-child(9){ right: 118px; bottom: 45px;}
  }
}

.module-core{ @extend .module-dynamic; background: url('../images/bg-core.png') no-repeat center top #1628b2; height: 983px;
  .intr-core{ overflow: hidden; 
    .main{ float: left; text-align: center; width: 33.33%; color: #fff; margin:20px 0 30px;
      .title{ font-size: 30px; margin: 35px 0 18px; font-weight: bold;}
      .info{ font-size: 30px; line-height: 36px;}
    }
  }
}

//footer
.page-footer{ background-color: #454545; text-align: center; padding: 56px 0 60px; color: #93969b;
  .link-a{ color:#93969b;}
  .sep{@include inline-block; margin: -3px 10px 0;}
  .copyright{font-size: 20px; margin-top: 15px;}
}

//layrer-bg
.layrer-bg { display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:98; background:rgba(0, 0, 0, 0.5);}
.layrer-box { display:none; position:fixed; left:50%; top:50%; z-index:99; background-color: #fff; box-shadow: 0 0 25px hsla(0, 0%, 0%, .35); border-radius: 15px; box-sizing: border-box; padding-top: 130px;
  .logo-layrer{ position: absolute; left: 50%; margin:-240px 0 0 -110px;}
  .title,
  .sub-center{ text-align: center; margin-top: 5px; overflow: hidden;}
  .inp-list{ border: 2px solid $main-border; border-radius: 3px; overflow: hidden;
    .inp-txt{ border:0 none; font-size:22px; line-height: 36px; vertical-align: middle;
      &::placeholder{ color:#d0d0d0;}
    }
    .sep{@include inline-block; width: 2px; height: 36px; background-color: #e8e8e8; font-size: 36px; margin-right: 20px;}
  }
}
.icon-close { display:inline-block; vertical-align:middle; *vertical-align:auto; zoom:1; *display:inline; background:url("../images/icon-close.png") no-repeat center; width:26px; height:26px; position:absolute; right:30px; margin-top:-100px; cursor:pointer; z-index:10;}

.layrer-registered{ width:980px; height:692px; margin-left:-490px; margin-top:-346px; 
  .registered-form{ width: 800px; margin:30px auto 0;
    .icon{ margin:0 26px;
      &.icon-user{ width: 28px; height: 28px;}
    }
    .inp-list{ margin: 22px 35px; height: 64px; line-height: 64px; 
      .inp-txt{ width: 600px;}
    }
    .btn-submit{ margin-top: 20px; border:none 0; background-color: lighten($color: $main-color, $amount: 7.8%); color: #fff; font-size: 38px; line-height: 77px; width: 424px; height: 77px; border-radius: 40px; letter-spacing:10px; cursor: pointer;}
    .notes{ font-size: 20px; color: $color_d; line-height: 1.5;}
  }
}

.layrer-login{ width:772px; height:662px; margin-left:-286px; margin-top:-331px; 
  .title{ letter-spacing:10px; color: $main-border; margin-bottom: 70px;
    .sep{ @include inline-block; margin: 0 20px;}
    .btn-password{ font-size: 30px; color: #3d3d3d; @include inline-block;
      &.cur{ color: lighten($color: $main-color, $amount: 8%);}
    }
    .btn-password-rendom{ @extend .btn-password;}
  }
  .login-form{ width: 604px; margin: auto;
    .icon{ margin:0 22px; }
    .inp-list{ margin: 20px 0; height: 76px; line-height: 76px; }
  }
  .rendom-pw{ font-size:25px; margin-left: 25px; @include inline-block; display: none; 
    .a-link{@include inline-block; color: lighten($color: $main-color, $amount: 7.8%); letter-spacing:10px;}
  }
  .sub-center{ margin-top: 50px;
    .btn-submit{ background: url('../images/bg-ly.png') no-repeat center; width: 604px; height: 96px; color: #fff; letter-spacing:15px; font-size: 38px; line-height: 96px; text-align: center; border: none 0; cursor: pointer;}
    .btn-forget-pw{ float: right; margin-top: 10px; letter-spacing: 5px; color: #3d3d3d; font-size: 24px;}
  }
  
}