@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//组件
//@import '../../scss/common/sass/config';
//@import '../../scss/hourglass/scss/components/btn';

//color
$main-font:#929292;
$main-color:#0054ff;
$main-border:#e8e8e8;


//default
.icon{ @include inline-block; background: none no-repeat center; background-size: 100%;
  &.icon-email{ background-image: url('../images/icon-email.png'); width: 28px; height: 28px;}
  &.icon-phone{ background-image: url('../images/icon-phone.png'); width: 28px; height: 28px;}
  &.icon-user{ background-image: url('../images/icon-user.png'); width: 36px; height: 36px;}
  &.icon-passwd{ background-image: url('../images/icon-passwd.png'); width: 36px; height: 37px;}
  &.icon-star{ background-image: url('../images/icon-star.png'); background-size: 100%; width: 60px; height: 60px;}
}
.page-index{ font-size: 18px; color: $main-font; line-height: 1.5;}
.content-box{ position: relative; overflow: hidden; width: 1200px; box-sizing: border-box; margin: auto;}
.content-title{ text-align: center; margin-top: 68px;
  .title{ border-bottom: 1px solid $main-color; padding-bottom: 8px; margin-bottom: 16px;}
  .sum-title{ color: $color_c;}
}

//header
.page-header{ position:fixed; top: 0; width: 100%; height: 94px; background-color: hsla(0, 0%, 100%, .1); z-index: 10; padding: 20px 0; box-sizing: border-box;
  .login{ float: right; margin-right:10px;
    .btn-registered,
    .btn-login{ @include inline-block; font-size: 20px; border:1px solid #fff; border-radius: 27px; padding: 0 38px; line-height: 42px; height: 42px; color: #fff; margin-left: 10px;}
  }
  .logo{ background: url('../images/logo.png') no-repeat left top; background-size: 100%; width: 104px; height: 56px; @include inline-block; margin-right:40px; margin-left: 3%;
    >a{ display: block; text-indent: -999em;}
  }
  .nav{ overflow: hidden; @include inline-block;
    .btn-nav{ float: left; font-size: 24px; color: #fff;
      >a{ color: #fff; @include inline-block; font-weight: bold; padding-bottom: 5px;
        &.cur{ color: #89c1ff; border-bottom: 1px solid #89c1ff;}
      }
    }
    .sep{ @include inline-block; margin: -5px 10px 0;}
  } 
}

//banner
.page-banner{ background-color: $main-color; box-sizing: border-box; overflow: hidden; position: relative; 
  .content-box{ height: 700px;}
  .bg-star{ background:url('../images/bg-banner.png') no-repeat center top; position: absolute; top: -90px; left: 0; width: 100%; height: 944px; z-index: 0; }
  .icon-star{ position: absolute; left: 50%; top: 50%; opacity: .8;
    &:nth-child(1){ width: 45px; height: 45px; margin-left: -100px; margin-top: -160px; animation: opacity-in 3s linear infinite; }
    &:nth-child(2){ width: 20px; height: 20px; margin: 100px 0 0 -300px; animation: opacity-in 5s linear infinite;}
    &:nth-child(3){ width: 10px; height: 10px; margin-top: 60px; animation: opacity-in 10s linear infinite;}
    &:nth-child(4){ width: 30px; height: 30px; margin-left: -600px; top: 55%; animation: opacity-in 8s linear infinite;}
  }
  .title{ position: absolute; margin: -100px 0 0 0; top: 50%; left: 0; width:550PX;
    >img{ width: 100%;}
  }
  .animation-banner{ float: right; background: url('../images/bg-banner-yuan.png') no-repeat center top; background-size: 100%; width: 500px; height: 500px; position: relative; margin: 90px 40px 0 0;
    .huan{ background: none no-repeat center top; background-size: 100%; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
      &.huan-1{ background-image: url('../images/bg-nei-01.png'); animation:rotate-zhuan 20s linear infinite;}
      &.huan-2{ background-image: url('../images/bg-nei-02.png'); animation:rotate-zhuan 15s linear infinite;}
      &.huan-3{ background-image: url('../images/bg-nei-03.png'); animation:rotate-zhuan 8s linear infinite;}
    }
  }
  .sum-title{ font-size: 50px; color: hsla(0, 0%, 100%, .5); margin: -35px 0 0 0;position: absolute; top: 50%;}
  .anination-wave{ position: relative; width: 200px; height: 200px; background-color: rgb(118, 218, 255); border-radius: 50%;
    &::before,
    &::after{ content: ""; position: absolute; width: 400px; height: 400px; top: 0; left: 50%; background-color: rgba(255, 255, 255, .4); border-radius: 45%; transform: translate(-50%, -70%) rotate(0); animation: rotate 6s linear infinite; z-index: 10; }
    &::after { border-radius: 47%; background-color: rgba(255, 255, 255, .9); transform: translate(-50%, -70%) rotate(0); animation: rotate 10s linear -5s infinite; z-index: 20; }
  }
  .canvas{ height: 160px; position: absolute; bottom: 0; width: 100%;}
}

//content
.module-business{ background-color: #fff;
  .content-box{padding:0 64px; box-sizing: border-box;}
  .intr-business{ overflow: hidden; padding: 30px 0 50px;
    .main{ float: left; text-align: center; margin: 45px 0; width: 25%; font-size: 18px;
      .title{ margin-top: 40px; color:darken($color: $main-font, $amount: 11%) ; font-weight: bold; font-size: 28px; margin-bottom: 20px;}
      .icon{ width: 116px; height: 111px; position: relative; overflow: hidden;
        .animation-i{@extend .icon;}
      }
      .icon-sj{ background-image: url('../images/bg-icon-business-01.png');
        .animation-i{ background-image: url('../images/animation-icon-business-01.png'); animation: opacity-in 2s linear infinite;}
      }
      .icon-wap{ background-image: url('../images/bg-icon-business-02.png');
        .animation-i{ background-image: url('../images/animation-icon-business-02.png'); width: 25px; height: 43px; position: absolute; left: 47px; bottom: 29px; animation: height-rise 3s linear infinite;}
      }
      .icon-data{ background-image: url('../images/bg-icon-business-03.png');
        .animation-i{ background-image: url('../images/animation-icon-business-03.png'); position: absolute; left: 0; top: 0; animation: top-down 3s linear infinite;}
      }
      .icon-gx{ background-image: url('../images/bg-icon-business-04.png');
        .animation-i{ background-image: url('../images/animation-icon-business-04.png'); animation: opacity-in 2s linear infinite;}
      }
      .icon-sc{ background-image: url('../images/bg-icon-business-05.png');
        .animation-i{ background-image: url('../images/animation-icon-business-05.png'); width: 45px; height: 45px; position: absolute; right: 23px; top: 31px; animation: narrow 3s linear infinite;}
      }
      .icon-fz{ background-image: url('../images/bg-icon-business-06.png');
        .animation-i{ width: 25px; height: 25px; position: absolute;
          &:nth-child(1){background-image: url('../images/animation-icon-business-06-a.png'); top: 0; right: 17px; animation: top-down-1 3s linear infinite 1s;}
          &:nth-child(2){background-image: url('../images/animation-icon-business-06-a.png'); top: 0; right: 42px; animation: top-down-2 2s linear infinite 1.3s;}
        }
      }
      .icon-zj{ background-image: url('../images/bg-icon-business-07.png');
        .animation-i{ background-image: url('../images/animation-icon-business-07.png'); animation: opacity-in 3s linear infinite;}
      }
      .icon-fx{ background-image: url('../images/bg-icon-business-08.png'); animation:rotate-zhuan-1 5s linear infinite;
        .animation-i{ background-image: url('../images/animation-icon-business-08.png')}
      }
    }
  }
}
.module-customized{@extend .module-business; background-color: #f3f3f3;
  .intr-customized{ height: 640px; position: relative;
    .main{ float: left; text-align: center; margin-top:60px; width: 340px; border-radius: 10px; background-color: #fff; overflow: hidden; cursor: pointer; position: absolute;
      >dt{ background-color: #1167c5; padding:56px 0 26px;
        .title{ margin-top: 42px; color: #fff; font-weight: bold; font-size: 30px;}
      }
      .info{ padding: 28px 0;box-sizing: border-box;
        >em{ display: none; }
        .link-a{ display: block; font-size: 22px; width: 118px; padding-top: 20px; line-height: 36px; margin: auto; color: lighten($color: $main-color, $amount: 7.8%); border-bottom: 2px solid lighten($color: $main-color, $amount: 7.8%); }
      }
      &:nth-child(3){ right: 0;
        &.cur{ margin-right:-53px; }
      }
      &:nth-child(2){ left: 50%; margin-left: -170px;
        &.cur{ margin-left: -213px; }
      }
      &:nth-child(1).cur{ left: 0; margin-left: -53px; }
      &.cur{ box-shadow: 0 0 25px hsla(0, 0%, 0%, .1); width: 426px; margin-top: 54px; z-index: 1; cursor: pointer;
        >dt{ background-color: #2389f9; 
          >img{ transform:scale(1.1); }
          .title{font-size: 36px; }
        }
        .info{ padding: 30px 0; font-size: 22px;}
      }
    }
  }
}
.module-dynamic{@extend .module-business; background:url('../images/bg-dynamic.png') no-repeat center top #0056f6; height: 942px; position: relative;
  .content-box{ height: 100%; }
  .content-title{ margin-bottom: 40px;
    .title{ border-color:#fff; }
    .sum-title{ color: #fff;}
  }
  .intr-dynamic{ background: url('../images/bg-dynamic-info.png') no-repeat center top; background-size: 100%; width:950px; height: 320px; padding: 12px; margin: auto;
    .main{ background-color:hsla(233, 78%, 39%,.3); border:1px solid hsla(185, 100%, 50%, .3); height: 100%; box-sizing: border-box; overflow: hidden; padding: 40px 0; padding-left: 5%;
      .info{ padding-left:5%; box-sizing: border-box; color: #fff; float: left; width: 48%; font-size: 24px; margin-bottom: 36px;
        .sep{ @include inline-block; background: url('../images/icon-dynamic.png') no-repeat left top; width: 28px; height: 28px; margin-top: -5px; margin-right: 10px;}
      }
    }
  }
  .animation-dynamic-signal{ @include inline-block; background: url('../images/icon-dynamic-01.png') no-repeat left center; width: 127px; height: 126px; position: absolute; z-index: 5; left: 50%; top: 50%;
    &:nth-child(2){ margin:282px 0 0 -840px; animation: rotate-zhuan 10s linear infinite 5s; }
    &:nth-child(3){ margin:242px 0 0 -602px; animation: rotate-zhuan 13s linear infinite 2s;}
    &:nth-child(4){ margin:250px 0 0 -454px; animation: rotate-zhuan 5s linear infinite 3s;}
    &:nth-child(5){ margin:124px 0 0 -120px; animation: rotate-zhuan 12s linear infinite 5s;}
    &:nth-child(6){ margin:216px 0 0 138px; animation: rotate-zhuan 7s linear infinite 3s;}
    &:nth-child(7){ margin:212px 0 0 472px; animation: rotate-zhuan 18s linear infinite 8s;}
    &:nth-child(8){ margin:300px 0 0 706px; animation: rotate-zhuan 6s linear infinite 4s;}
  }
}

.module-core{ @extend .module-dynamic; background: url('../images/bg-core.png') no-repeat center top #1628b2; height: 983px;
  .intr-core{ overflow: hidden; 
    .main{ float: left; text-align: center; width: 33.33%; color: #fff; margin:20px 0 30px; cursor: pointer;
      .title{ font-size: 28px; margin: 35px 0 18px; font-weight: bold;}
      &:hover{ animation: amplification .5s forwards; }
    }
  }
}

//footer
.page-footer{ background-color: #454545; text-align: center; padding: 56px 0 60px; color: #93969b;
  .link-a{ color:#93969b;}
  .sep{@include inline-block; margin: -3px 10px 0;}
  .copyright{font-size: 20px; margin-top: 15px;}
}

//layrer-bg
.layrer-bg { display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:98; background:rgba(0, 0, 0, 0.5);}
.layrer-box { display:none; position:fixed; left:50%; top:50%; z-index:99; background-color: #fff; box-shadow: 0 0 25px hsla(0, 0%, 0%, .35); border-radius: 15px; box-sizing: border-box; padding-top: 130px;
  .logo-layrer{ position: absolute; left: 50%; margin:-240px 0 0 -110px;}
  .title,
  .sub-center{ text-align: center; margin-top: 5px; overflow: hidden;}
  .inp-list{ border: 2px solid $main-border; border-radius: 3px; overflow: hidden;
    .inp-txt{ border:0 none; font-size:22px; line-height: 36px; vertical-align: middle;
      &::placeholder{ color:#d0d0d0;}
    }
    .sep{@include inline-block; width: 2px; height: 36px; background-color: #e8e8e8; font-size: 36px; margin-right: 20px;}
  }
}
.icon-close { display:inline-block; vertical-align:middle; *vertical-align:auto; zoom:1; *display:inline; background:url("../images/icon-close.png") no-repeat center; width:26px; height:26px; position:absolute; right:30px; margin-top:-100px; cursor:pointer; z-index:10;}

.layrer-registered{ width:980px; height:692px; margin-left:-490px; margin-top:-346px; 
  .registered-form{ width: 800px; margin:30px auto 0;
    .icon{ margin:0 26px;
      &.icon-user{ width: 28px; height: 28px;}
    }
    .inp-list{ margin: 22px 35px; height: 64px; line-height: 64px; 
      .inp-txt{ width: 600px;}
    }
    .btn-submit{ margin-top: 20px; border:none 0; background-color: lighten($color: $main-color, $amount: 7.8%); color: #fff; font-size: 38px; line-height: 77px; width: 424px; height: 77px; border-radius: 40px; letter-spacing:10px; cursor: pointer;}
    .notes{ font-size: 20px; color: $color_d; }
  }
}

.layrer-login{ width:772px; height:662px; margin-left:-386px; margin-top:-331px; 
  .title{ letter-spacing:10px; color: $main-border; margin-bottom: 70px;
    .sep{ @include inline-block; margin: 0 20px;}
    .btn-password{ font-size: 30px; color: #3d3d3d; @include inline-block;
      &.cur{ color: lighten($color: $main-color, $amount: 8%);}
    }
    .btn-password-rendom{ @extend .btn-password;}
  }
  .login-form{ width: 604px; margin: auto;
    .icon{ margin:0 22px; }
    .inp-list{ margin: 20px 0; height: 76px; line-height: 76px; }
  }
  .rendom-pw{ font-size:25px; margin-left: 25px; @include inline-block; display: none; 
    .a-link{@include inline-block; color: lighten($color: $main-color, $amount: 7.8%); letter-spacing:10px;}
  }
  .sub-center{ margin-top: 50px;
    .btn-submit{ background: url('../images/bg-ly.png') no-repeat center; width: 604px; height: 96px; color: #fff; letter-spacing:15px; font-size: 38px; line-height: 96px; text-align: center; border: none 0; cursor: pointer;}
    .btn-forget-pw{ float: right; margin-top: 10px; letter-spacing: 5px; color: #3d3d3d; font-size: 24px;}
  }
  
}

@keyframes rotate-zhuan{
  0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotate-zhuan-1{
  0%{ transform:rotate(0deg);}
  100%{ transform:rotate(360deg);}
}

@keyframes amplification{
  0%{ transform:scale(1);}
  100%{ transform:scale(1.05); }
}
@keyframes narrow{
  0%{ transform:scale(1.5);}
  50%{ transform:scale(1); }
  100%{ transform:scale(1.5);}
}

@keyframes opacity-in{
  0%{ opacity: 0;}
  50%{ opacity: 1; }
  100%{ opacity: 0;}
}
@keyframes height-rise{
  0%{ height: 0;}
  100%{ height:43px; }
}
@keyframes top-down{
  0%{ top: -111px;}
  25%{ top:0; }
  50%{ top:0; }
  75%{ top: 0;}
  100%{ top:222px; }
}
@keyframes top-down-1{
  0%{ top: -111px;}
  100%{ top:58px; }
}
@keyframes top-down-2{
  0%{ top: -111px;}
  100%{ top:82px;}
}