@charset "UTF-8";
//---------------------------------------
//导入页面集合样式
/*
*
https://www.hnszxc.com.cn:60002/daping/#/login?companyCode=jysdyz
账号：admin
密码：Szhouxiangcong@123456
*
*/
//---------------------------------------
//mixin
@import "../../scss/hourglass/scss/mixins";
//基础内容
@import '../../scss/common/sass/reset';

//color
$main-font:$color_f;
$main-color:#14bbee;
$main-white:$color_f;
$main-title:#329df0;

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #031849;
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #026be1;
  -webkit-box-shadow: inset 0 0 6px #026be1;
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
  background: #0034a3;
}

// common
.icon{ display: inline-block; background: no-repeat center; box-sizing: border-box;
  &.icon-ym{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-01.png'); width: 31px; height: 28px;}
  }
  &.icon-sl{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-02.png'); width: 25px; height: 24px;}
  }
  &.icon-gb{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-03.png'); width: 30px; height: 23px;}
  }
  &.icon-hq{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-04.png'); width: 23px; height: 29px;}
  }
  &.icon-za{ 
    &::before{content:''; display:block; background-image: url('../images/btn-son-05.png'); width: 22px; height: 28px;}
  }
  &.icon-xsc{ background-image: url('../images/icon-04.png'); width: 22px; height: 17px;}
  &.icon-tb{ background-image: url('../images/icon-05.png'); width: 20px; height: 18px;}
  &.icon-hj{ background-image: url('../images/icon-06.png'); width: 20px; height: 21px;}
  &.icon-cctv{ background-image: url('../images/icon-cctv.png'); width: 28px; height: 24px;}
  &.icon-star{ background-image: url('../images/icon-star.png'); width: 26px; height: 24px;}
  &.icon-audio{ background-image: url('../images/icon-microphone.png'); width: 50px; height: 79px;}
  &.icon-stop{ background-image: url('../images/icon-stop.png'); background-position: center 11px; width: 58px; height: 79px;}
  &.icon-sound{ background-image: url('../images/icon-sound.png'); width: 19px; height: 15px;}
}
.btn-close{ width: 30px; height: 30px; display: inline-block; background-color: rgba($color: #000000, $alpha: .4); position: absolute; right: 0; top: 0; cursor: pointer; z-index: 3;
  &::before,
  &::after{ content: '';display: inline-block; width: 16px; height: 2px; background-color: #fff; transform: rotate(45deg); position: absolute;left: 7px;
    top: 14px;}
    &::after{ transform: rotate(-45deg); }
}
//page
.page-index{ background: url('../images/bg-page.png') repeat left top; width: 1920px; box-sizing: border-box; color: $main-font; margin: auto;}
.page-header{ background: url('../images/bg-head.png') no-repeat center top; width: 1877px; height: 93px; box-sizing: border-box; color: #dbefff; margin: auto; position: relative;
  h1{ text-align: center; font-size: 40px; padding-top: 30px; line-height: 1; text-shadow: 0 0 20px rgba($color: #259df1, $alpha: .6);}
  .btn-right-head{ position: absolute; right: 37px; bottom: 0; display: inline-block; background: url('../images/btn-header.png') no-repeat center; width: 300px; height: 39px; font-size: 20px; color: #329df0; text-align: center; line-height: 39px;
    &::after{ content: ''; display: inline-block; width: 0; vertical-align: middle; margin: -3px 0 0 10px; height: 0; border-style: solid; border-width: 8px 0 8px 10px; border-color: transparent transparent transparent #329df0;}
  }
  .btn-back-head{ display: inline-block; position: absolute; left: 43px; top: 40px; background: url('../images/btn-head-l.png') no-repeat center; width: 150px; height: 36px; line-height: 36px; text-align: center; color: $main-white;
    &::before{ content: ''; display: inline-block; background: url('../images/icon-back.png') no-repeat center; width: 11px; height: 17px; margin-right: 10px; vertical-align: middle; margin-top: -3px;}
  }
}
.page-contanted{ display: flex; justify-content: space-between; align-items: flex-start; height: 902px; box-sizing: border-box;
  .module-title{ font-size: 20px; color: $main-title; height: 35px; line-height: 30px; margin-bottom: 20px;}
  .module-title-01{ position: relative; font-size: 16px; display: inline-block;
    &::before,
    &::after{ content: ''; display: inline-block; position: absolute; width: 0; height: 0; top: 8px; border-style: solid; border-width: 2px 47px 2px 0;      border-color: transparent rgba($color: #007bff, $alpha: .8) transparent transparent;}
    &::before{ left: -54px;}
    &::after{  border-width: 2px 0 2px 47px; border-color: transparent transparent transparent rgba($color: #007bff, $alpha: .8); right: -52px;}
  }
  .module-title-02{ padding:6px 0 0 40px; font-size: 24px; text-shadow: 0 0 10px rgba($color: #0db8ff, $alpha: .75); letter-spacing: 5px;}
  .module-son-title{ position: absolute; color: $main-title; font-size: 16px; right: 24px; top: 14px;}
  .sep{ height: 1px; width: 100%; background-color: rgba($color: #1c57ff, $alpha: .45); position: relative;
    &::before,
    &::after{ content: ''; display: inline-block; width: 3px; height: 3px; border-radius: 100%; background-color:#1c57ff; margin-top: -1px; position: absolute;}
    &::before{ left: 0; }
    &::after{ right: 0;}
  }
  .sun-sep{ height: 1px; width: 100%;   background: linear-gradient(to right, rgba(14, 90, 255,.2) 5%, rgb(14, 90, 255) 20%, rgb(14, 90, 255) 80%, rgba(14, 90, 255,.2)); }
  .main-list{ width: 100%;
    .list-title{ color: $main-title; font-size: 16px; margin-bottom: 8px;
      >p{ display: inline-block; width: 33.33%;}
    }
    .info-box{ padding: 0 10px;
      .list{ background-color: #001d58; line-height: 33px; height: 33px; margin-bottom: 4px; box-sizing: border-box; display: flex; align-items: center;
        >p{ display: inline-block; line-height: 1; font-size: 16px; opacity: .8; width: 33.33%; @include singleline-truncate;
         
          &.orange{ color: #ed9a0a;}
          &.green{ color: #17af1b;}
        }
      }
    }
  }
  .list-common-style{ 
    >h3{ font-size: 20px; color: #fcae49; text-align: left; line-height: 1;}
    .list-title{ color: $main-white;
      >p{ width: 25%;}
    }
    .info-box{ 
      .list{ background-color: rgba($color: #0134c1, $alpha: .4); height: 41px; margin-bottom: 3px; border:1px solid rgba($color: #1459e7, $alpha: .6); }
      p{ width: 25%; vertical-align: middle; }
    }
  }
  .list-cctv{ padding: 5px 18px 5px; text-align: left; 
    .list{ position: relative; cursor: pointer;
      &::before{ display: none;}
      .frist-list,
      .second-list{ border-bottom: 1px solid #5ba0ff; padding: 0 17px 13px 26px; color: #5ba0ff; margin-bottom: 9px;
        &::after{ content: ''; position: absolute; display: inline-block; background: url('../images/icon-cctv.png') no-repeat center; width: 28px; height: 24px; right:17px;}
      }
      .second-list{ display: none;}
      &.more{
        &::before{ content: ''; position: absolute; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent #5ba0ff; margin-right: 18px; top: 5px; left: 8px;}
        .frist-list{
          &::after{ display: none;}
        }
      }
      &.show{
        &::before{ transform: rotate(90deg);}
      }
    }
  }
  .main-toyear-sb{
    .num-info{ margin-top: 15px; display: flex; justify-content: space-between; align-items: center; padding: 0 26px; box-sizing: border-box;
      &::before,
      &::after{ content: ''; display: inline-block; background: url('../images/bg-index-l.png') no-repeat center; width: 31px; height: 35px; }
      &::after{ transform: rotate(-180deg);}
    }
    .bili-box{ 
    
      >footer{ width:317px; margin:-10px auto 0; position: relative; z-index: 5;
        span.title{ color:#14bbee; font-size: 16px; display: inline-block; width: 25%; text-align: center}
      }
    }
  }
  .fire-info-box{ display: flex; justify-content: space-between; align-items: center; padding: 0 25px;
    >.info{ color: #cde7ff; font-size: 16px; width: 96px;
      >p{ text-align: right; margin-bottom: 10px; line-height: 1.7;
        >span{ display: inline-block; font-weight: bold; font-size: 20px; margin-right: 10px; color: #fcae49;}
        &::before{ content: ''; display: inline-block; width: 23px; height: 17px; background-color: #fcae49; margin-right: 9px; vertical-align: middle; margin-top: -1px;}
        &:nth-child(2){
          >span{ color: #1459e7;}
          &::before{ background-color: #1459e7;}
        }
        &:last-child{ 
          >span{color: #ff6161;}
          &::before{ background-color: #ff6161;}
        }
      }
    }
    .echarts-box{ border-radius: 100%; border:12px solid #0d2249; width: 182px; height: 182px; box-sizing: border-box;
     
    }
  }
}
.page-footer{ background: url('../images/bg-foot.png') no-repeat center bottom; width: 100%; height: 85px; box-sizing: border-box; padding-top: 35px;
  .foot-nav{ width: 100%; display: flex; align-items: center; justify-content: center; 
    .nav{ margin:0 4px; display: flex; justify-content: center; align-items: center;
      &::after{content: ''; display: inline-block; width: 2px; height: 39px; background-color: rgba($color: #4f94e1, $alpha: .5 ); margin: 0 50px;}
      &:last-child{ 
        &::after{ display: none;}
      }

      >a{ color: #5db1ff; font-size: 20px; width: 100px; display: block; text-align: center;
        &:hover,
        &.cur{ font-size: 24px; color: $main-font; font-weight: bold; text-shadow: 0 0 20px rgba($color: #dff2ff, $alpha: .5);}
      }
    }
  }
}

// index
.contanted-index{ padding: 30px 52px 0; align-items: center;
  .module-left-01{ background: url('../images/bg-kuang-08.png') no-repeat center top; width: 344px; height: 289px; text-align: center; margin-bottom: 20px; position: relative;
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-01.png'); height: 256px;
    .main-event-tj{ display: flex; justify-content: space-between; align-items: center; padding:20px 19px 0;
      .info dl{ background: url('../images/bg-index-03.png') no-repeat center; width: 120px; height: 59px; margin-bottom: 25px; font-size: 16px; padding-top: 8px; box-sizing: border-box;
        >dd{ font-size: 20px; font-weight: bold;
          &.orange{ color: #f7aa23;}
          &.green{ color: #2acc6f;}
        }
        &:last-child{ margin-bottom: 0;}
      }
    }
    .baifenlv{ position: relative; width: 154px; height: 154px; box-sizing: border-box;
      &::before{ content: ''; display: block; background: url('../images/bg-index-02.png') no-repeat center; width: 257px; height: 243px; position: absolute; left: -52px; top: -52px;}
      &::after{ content: '处理率'; color: #fff; position: absolute; font-size: 14px; left: 50%; top: 50%; margin:18px 0 0 -21px;}
      
    }
  }
  .module-left-03{ @extend .module-left-01; background-image: url('../images/bg-kuang-09.png'); height: 276px;

  }
  .module-right-01{ @extend .module-left-03;
    .main-weather-box{ display: flex; align-items: center; justify-content: space-between; padding: 0 16px;
      >div{ background: url('../images/bg-index-04.png') no-repeat center; width: 151px; height: 194px; position: relative;}
    }
    .main-weather{ display: flex; justify-content: center; align-items: center; flex-direction: column;
      >header{ margin-bottom: 20px;}
      >p{ display: flex; justify-content: space-between; margin-bottom: 20px; line-height: 1;
        &:last-child{ margin-bottom: 0;}
      }
    }
    .main-air::before{ content: ''; display: inline-block; position: absolute; background: url('../images/bg-index-05.png') no-repeat center; width: 75px; height: 75px; left: 50%; top: 50%; margin:-49px 0 0 -35px; transform: scale(.95);}
    
  }
  .module-right-02{ @extend .module-left-01;
    .module-title{ margin-bottom: 10px;}
    .main-photograph{ display: flex; justify-content: center; align-items: center;
      >.info{background: url('../images/bg-index-06.png') no-repeat center; width: 200px; height: 200px; display: flex; justify-content: center; align-items: center; flex-direction: column; position: relative;
        &::before{content: '件'; color: #fff; position: absolute; right: 35px; margin-top: -15px;}
        .timer{ font-size: 38px; font-weight: bold;}
      }
    }
    .module-title-01{
      &::before,
      &::after{ top: 17px;}
      >.timer{ font-size: 24px; font-weight: bold;}
    }
  }
  .module-right-03{ @extend .module-left-02;
    .main{ margin:-14px 0 0 0;
      .main-info{ height: 181px; overflow: hidden;}
      .list{ 
        >p{ 
          &:first-child{ text-align: left;}
        }
      }
    }
  }
  .module-center{ background: url('../images/map.png') no-repeat center; width: 1120px; height:814px; position: relative;
    a.a_link{ width: 1028px; height: 690px; display: block; position: absolute; left: 50px; top: 0;}
    .module-center-map{ position: absolute; left: 110px; top: -10px; 
      >img{ display: none;}
    }
    .map-nav{ position: absolute; bottom: 0; left: 50%; margin-left: -395px; width: 789px;
      .nav-list{ display: flex; justify-content: space-between; 
        .nav{ background: url('../images/btn-son.png') no-repeat center; width: 139px; height:51px; color: #5db1ff; cursor: pointer; display: flex; align-items: center;
          .icon{ width: 51px; height: 51px; display: flex; justify-content: center; align-items: center; margin-right: 10px;}
          >span{ display: inline-block; margin-top: -3px;}
          &:hover,
          &.cur{ background-image: url('../images/btn-son-cur.png'); color: $main-white;
            &:nth-child(1){
              .icon::before{ background-image: url('../images/btn-son-01-cur.png');}
            }
            &:nth-child(2){
              .icon::before{ background-image: url('../images/btn-son-02-cur.png');}
            }
            &:nth-child(3){
              .icon::before{ background-image: url('../images/btn-son-03-cur.png');}
            }
            &:nth-child(4){
              .icon::before{ background-image: url('../images/btn-son-04-cur.png');}
            }
            &:nth-child(5){
              .icon::before{ background-image: url('../images/btn-son-05-cur.png');}
            }
          }
        }
      }
    }
  }
}
// farm
.contanted-farm{ padding: 20px 24px 14px;
  .module-left{ background: url('../images/bg-kuang-02.png') no-repeat center top; width: 444px; height: 875px; text-align: center; box-sizing: border-box; padding: 0 15px;
    .info-huoqing{ margin-left: 5px; overflow: hidden;}
    .sep{ margin: 32px 0 22px;}
    .new-hq{ 
      .list-title>p{ width: 33.33%;}
      >h3{  margin-bottom: 10px;}
      .main-info{ height: 173px; overflow: hidden;
        >p{width: 33.33%;}
        p:first-child{ font-size: 14px; line-height: 1.2; margin-top: 2px;}
        p:last-child{ color: #ff5050;}
      }
    }
    .fire-info-box{ flex-direction: column; margin-top: 50px;
      .info{ display: flex; justify-content: center; width: 100%; margin: 30px 0;
        >p{ margin: 0 10px;}
      }
    }
  }
  .module-center-01{ background: url('../images/bg-kuang-03.png') no-repeat center top; width: 962px; height: 561px; text-align: center; box-sizing: border-box; margin-bottom: 17px; padding: 0 25px;
    .content{display: flex; justify-content: space-between; align-items: center;}
    .main-sl{ width: 112px * 3; 
      .info-list{ display: flex; justify-content: space-between; margin: 26px 0;
        .list{cursor: pointer; display: flex; justify-content: center; flex-direction: column; align-items: center; width: 112px;
          .num{ background: url('../images/bg-ny-01.png') no-repeat center; width: 80px; height: 84px; display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 20px; margin-bottom: 3px;
            .icon{ margin-bottom: 5px}
          }
          .txt{ font-size: 16px;}
          &:hover,
          &.cur{
            .num{ background-image: url('../images/bg-ny-01-cur.png'); }
            .txt{ color: #22ceff;}
          }
        }
      }
      .info-farm{ background: url('../images/bg-ny-02.png') no-repeat center; width: 291px; height: 310px; margin: auto; box-sizing: border-box; padding: 50px 14px 50px 50px; 
        >figure{ overflow-y: scroll; width: 227px; height: 210px;}
        p{text-align: left; line-height: 28px; color: $main-title;}
      }
    }
   
  } 
  .module-center-02{@extend .module-center-01; background-image: url('../images/bg-kuang-04.png'); height: 298px; margin-bottom: 0;
    .info-num{background: url('../images/bg-ny-03.png') no-repeat center; width: 276px; height: 231px; line-height: 215px; font-size: 52px;}
    .main-dp{ width: 566px;
      .list-title{ font-size: 20px; margin-bottom: 20px;
        >p{ width: 20%;}
      }
      .main-info{ height: 162px; overflow: hidden;
        .list{ background-color: #01278d; line-height: 30px; height: 30px; margin-bottom: 3px;
          >p{ width: 20%;  }
        }
      }
    }
  }
  .module-right{ @extend .module-left;
    .main-hq{ padding: 15px; box-sizing: border-box; height: 820px; overflow-y: scroll; }
    .list-cctv{height: 780px;}
  }
}
// control
.contanted-control{ padding: 28px 48px 18px; 
  .new-event{ 
    .main-info{ height: 145px; overflow: hidden;}
    .info-box{ padding: 0;
      .list{ height: 34px; line-height: 26px;
        >p:nth-child(2){ text-align: left;}
        >p:nth-last-child(2){ color: #00b544;}
      }
    }
    >.main{ padding-top: 10px;}
  }
  .module-left-01{ background: url('../images/bg-kuang-10.png') no-repeat center top; width: 505px; height: 382px; text-align: center; margin-bottom: 13px;
    .main-complex{ display: flex; flex-wrap: wrap; padding: 0 55px; align-items: center; justify-content: center;
      .complex-info{ width: 100%; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; margin-top: 20px;
        >p{ background: url('../images/bg-control-01.png') no-repeat center; width: 129px; height: 67px; display: flex; justify-content: center; align-items: center; color: #5188ff;
          >span{ display: block;}
          >em{ font-size: 32px; font-weight: bold; display: inline-block; margin: 0 5px; color: $main-white;}
        }
      }
      .complex-num{ margin-left: 50px;
        .sun-sep{ margin: 16px 0;}
        >p{ color: #0b84ff; font-size: 20px;
          >em{display: block; font-size: 36px; color: $main-white;}
        }
      }
    }
    .complex-echert{ position: relative; width: 200px; height: 200px;
      &::before{ content: ''; display: inline-block; background: url('../images/bg-index-05.png') no-repeat center; position: absolute; left: 50%; top: 50%; width: 75px; height: 75px; transform: scale(1.6); margin:-39px 0 0 -38px;}
    }
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-11.png'); height: 463px;
    .main-photograph{ margin-top: -15px; position: relative;}
    .sep{ margin: 14px; width: auto;}
    .new-event{ padding: 0 14px;}
  }
  .module-center{ background: url('../images/bg-kuang-12.png') no-repeat center top; width: 790px; height: 858px; text-align: center; box-sizing: border-box; padding: 0 23px;
    .sep{ margin: 25px 0 53px;}
    .new-event{
      .main-info{ height: 219px; overflow: hidden;
        .list{ height: 39px; line-height: 34px; margin-bottom: 6px;}
      }
      >.main{ padding-top: 25px;}
    }
   
  }
  .module-right-01{ background: url('../images/bg-kuang-13.png') no-repeat center top; width: 508px; height: 343px; text-align: center; margin-bottom: 14px;
    .main-toyear-sb .num-info{ padding: 0 108px; transform: scale(1.2); margin: 30px auto;}
    .bili-box{ transform: scale(1.2); }
  }
  .module-right-02{ @extend .module-right-01; background-image: url('../images/bg-kuang-14.png'); height: 237px;
    .main-safe{ height: 180px; overflow-y: scroll; margin: 15px 9px 0;}
  }
  .module-right-03{ @extend .module-right-01; background-image: url('../images/bg-kuang-15.png'); height: 250px; margin-bottom: 0; position: relative;
    .module-son-title{
      &::after{ content: ''; display: inline-block; margin:-2px 0 0 10px; vertical-align: middle; color: $main-title; background: url('../images/icon-more.png') no-repeat left center; width: 22px; height: 14px;}
    }
    .module-title{ margin-bottom: 0;}
    .main-cloud-audio{ display: flex;justify-content: space-between; align-items: center; padding: 0 20px;}
    .audio-box{
      // >audio{ display: none; }
      .title{font-size: 16px; text-align: left;}
    }
    .audio{ display: flex; flex-direction: column; align-items: center; padding: 18px 0 0 24px;
      .btn{ position: relative; display: flex; flex-direction: column; width: 100px; align-items: center; margin-bottom: 8px; cursor: pointer;
        .icon{ position: relative; z-index: 2; margin-top: 10px;}
        .txt{ display: inline-block; margin-top: 18px; color: #118cff;}
        &::before,
        &::after{ content: ''; display: inline-block; width: 100px; height: 100px; position: absolute; left: 50%; top: 0; margin-left: -51px; background-color: rgba($color: #0e5aff, $alpha: .16); border-radius: 100%;}
        &::after{ width: 74px; height: 74px; margin: 14px 0 0 -38px;}
      }
      .btn-sound{ display: inline-block; width: 150px; height: 8px; border-radius: 4px; background-color: #083494; margin-left: 12px; vertical-align: middle; margin-top: -3px;}
    }
    .audio-checkbox-box{ height: 180px; overflow-y: scroll; margin: 20px 20px 0 0;
      dt,
      dd{ margin-bottom: 8px; cursor: pointer; display: flex; align-items: center; }
      em.checkbox{ display: inline-block; margin-right: 14px; position: relative; background-color: $main-white; width: 14px; height: 14px; border-radius: 2px;
        &::before,
        &::after{content: ''; background-color: #002c84; position: absolute; height: 1px; display: none;}
        &::before{width: 6px; transform: rotate(45deg); margin: 8px 0 0 1px;}
        &::after{width: 10px; transform: rotate(-45deg); margin: 7px 0 0 4px;}
        &.cur{
          &::before,
          &::after{ display: block;}
        }
      }
      .checkbox-list{ width: 180px; text-align: left; padding-bottom: 5px;}
      .cun-checkbox{ padding-left: 28px; display: none;
        input[type="checkbox"]{ margin-right: 5px; }
      }
    }
  }
}
// build
.contanted-build{ padding: 32px 58px; 
  .module-left-01{background: url('../images/bg-kuang-16.png') no-repeat center top; width: 536px; height: 384px; text-align: center; margin-bottom: 27px; 
    .module-title{ margin-bottom: 0px;}
    .main-jcsj{ background: url('../images/bg-build-01.png') no-repeat center;  display: flex; align-items: center; justify-content: center;}
   
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-17.png'); height: 446px; margin-bottom: 0;
    .main-info-user{}
    .user-number-box{ display: flex; justify-content: space-between; align-items: center; padding: 0 48px;  margin:24px 0 70px; box-sizing: border-box;
      .user-list{ position: relative; width: 110px;
        &::before{ content: ''; display: block; position: absolute; left: 50%; top: 50%; background: url('../images/bg-build-02.png') no-repeat center bottom; width: 167px; height: 121px; transform: translate(-50%, -29%);}
        >dd{ font-size: 40px; font-weight: bold; margin-top: 22px; line-height: 1; position: relative; z-index: 1;}
      }
    }
  }
  .module-center{
    .banner-build{ width: 684px;  height: 384px; position: relative; width: 100%; overflow: hidden;
      .banner-img{ width: 684px;height: 384px;overflow: hidden;
        ul li{position: absolute;display: none;
          a{display: block;width: 684px;height: 384px;font-size: 100px;text-align: center; }
        }
      }
      .banner-btn{position: absolute;bottom: 10px;text-align: center; left: 50%; transform: translateX(-50%);
        a{display: inline-block; width: 10px; height: 10px; font-size: 10px; background: #fff; margin: 0 5px; text-indent: -20em; border-radius: 10px;
          &.active{ width: 30px; }
        }
      }
    }
  }
  .module-content-01{ background: url('../images/bg-kuang-18.png') no-repeat center top; width: 682px; height: 446px; text-align: center; margin-top: 27px;
  }
  .module-right{ background: url('../images/bg-kuang-19.png') no-repeat center top; width: 536px; height: 857px; text-align: center; overflow: hidden;
    .main-branch{ padding: 0 10px;
      .branch-box{ overflow-y: scroll; height: 770px; padding: 30px 10px 10px 20px; box-sizing: border-box;}
      .branch{ 
        .branch-title{ display: flex; justify-content: space-between; align-items: center; color: #fcae49; padding: 0 40px 0 20px; margin-bottom: 35px;
          .icon-star{ margin-right: 11px;}
        }
        .info{ display: flex; flex-wrap: wrap; margin-bottom: 14px;
          >p{ box-shadow: inset 0px 0px 16px 0px rgba($color: #15c0ff, $alpha: .5); min-width: 105px; height: 41px; line-height: 41px; text-align: center; margin: 0 14px 19px 0;}
        }
      }
    }
  }
}
// each
.contanted-each{ padding: 25px 46px;
  .module-left-01{ background: url('../images/bg-kuang-e-01.png') no-repeat center top; width: 588px; height: 317px; margin-bottom: 13px;
    >.main-each-cun{ display: flex; justify-content: space-between; align-items: center; padding: 15px 48px 0;}
    .cun-info{display: flex; flex-wrap: wrap; width: 248px;
      .info{ background: url('../images/bg-each-02.png') no-repeat center top; width: 99px; height: 85px; margin:0 48px 48px 0; text-align: center;
        >dt{ margin-bottom: 54px;
          >em{ font-size: 32px; display: inline-block; margin-right: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
        }
        >dd{ color: #018afe;}
        &:nth-child(2n){ margin-right: 0;}
        &:nth-child(n+3){ margin-bottom: 0;}
      }
    }
  }
  .module-left-02{ @extend .module-left-01; background-image: url('../images/bg-kuang-e-02.png'); height: 252px; margin-bottom: 14px;
    .main-pople-info{ display: flex; justify-content:flex-start; align-items: center; padding: 35px 20px 0;
      .pople-list{ text-align: center; color: #cde7ff; display: flex;  flex-direction: column; justify-content: center; align-items: center; margin-right: 40px;
        dt{ border: 2px solid #1276c0; border-radius: 100%; box-sizing: border-box; width: 132px; height: 132px;
          >div{ width: 123px; height: 123px;}
        }
        &:first-child{width: 40%; margin-right: 20px;
          >dt{ background: url('../images/bg-each-01.png') no-repeat center; border: none;}
        }
        &:last-child{ margin-right: 0;}
     
      }
    }
  }
  .module-left-03{ @extend .module-left-01; background-image: url('../images/bg-kuang-e-03.png'); height: 254px;  margin-bottom: 0px;
   .main-aqxc{ padding: 10px 19px 12px;
      .title{ display: flex; justify-content: space-between; padding: 0 23px 10px 18px;}
    }
   .list-aqxc{ height: 41px * 4; overflow-y: scroll; 
    .list{ padding: 8px 23px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid; border-image-source: linear-gradient(to right, rgba(39, 120, 255,.2) 5%, rgb(39, 120, 255) 20%, rgb(39, 120, 255) 80%, rgba(39, 120, 255,.2)); line-height: 1; border-image-slice: 1; color: #3ea1fe;}
   }
  }
  .module-content-01{ background: url('../images/bg-kuang-e-04.png') no-repeat center top; width: 631px; height: 368px; margin-bottom: 21px;
    >.banner-each{ width: 630px - 34px; position: relative; margin:13px auto 0; overflow: hidden;
      // 3Dbanner图
      .roundabout-holder{height:303px; width:538px; margin: auto;}
      .roundabout-moveable-item{ height:303px; width:538px;
        img{height:100%;width:100%; }
      }
    }
  }
  .module-content-02{ @extend .module-content-01; background-image: url('../images/bg-kuang-e-05.png'); height: 461px; margin-bottom: 0;
    .main-info{ padding: 2px 26px 10px;
      .title{ display: flex; margin-bottom: 5px; text-align: center; font-size: 20px; color: #6c93ff; 
        >span{ display: block; width: 75%;
          &:first-child{ width: 25%;}
        }
      }
    }
    .info-list-box{ height: 381px; overflow: hidden;
      .list{ display: flex; align-items: center; background-image: linear-gradient(to right, rgba(2, 33, 119,.2) 5%, rgb(2, 33, 119) 20%, rgb(2, 33, 119) 80%, rgba(2, 33, 119,.2)); margin-bottom: 4px; border-radius: 10px; height: 73px; box-sizing: border-box; padding: 7px 30px 7px 0;
        .name{ width: 35%; box-sizing: border-box; text-align: center; border-right: 1px solid $main-white; line-height: 1.5;}
        .name-list{ box-sizing: border-box; padding-left: 40px;
          >span{ display: inline-block; margin-left: 10px; line-height: 1.2;}
        }
      }
    }
  }
  .module-right-01{ background: url('../images/bg-kuang-e-06.png') no-repeat center top; width: 583px; height: 368px; margin-bottom: 29px;
    .main-img{ margin: 14px 23px 0;}
    .list-box{ background-color: #122643; padding: 8px; display: flex; flex-wrap: wrap; 
      .list{ margin: 0 29px 22px 0;
        &:nth-child(4n){ margin-right: 0;}
        &:nth-child(n+4){ margin-bottom: 0;}
      }
    }
  }
  .module-right-02{ @extend .module-right-01; background-image: url('../images/bg-kuang-e-07.png'); height: 453px; margin-bottom: 0;
    .main-txt{ margin: 40px 60px 40px 44px; font-size: 18px;
      .icon{ vertical-align: middle; margin: -12px 15px 0 0; opacity: .23;
        &:first-child{ margin-left: 20px;}
        &.cur{ opacity: 1;}
      }
      >p{line-height: 32px;}
    }
  }
}
// cctv
.contanted-cctv{ justify-content: center; align-items: center;
  .module-left{ margin-right: 14px; background: url('../images/bg-cctv-l.png') no-repeat center top; width: 372px; height: 838px; box-sizing: border-box; padding: 40px;
    .title{ font-size: 24px; margin-bottom: 15px; color: #dbefff;}
    .list-box{ height: 710px; overflow-y: scroll; padding-left: 10px; line-height: 31px;
      .list{ margin-bottom: 10px; position: relative; padding-left: 20px;
        &::before{ content: ''; display: inline-block; width: 0; vertical-align: middle; margin: -3px 10px 0 0 ; height: 0; border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent $main-title;; position: absolute;top: 13px;left: 0;}
        &.show{
          &::before{ transform: rotate(90deg);}
        }
      }
    }
    .frist-list{ color: $main-title; font-size: 20px; cursor: pointer;
     
    }
    .second-list{ padding-left: 20px; color: $main-title; cursor: pointer; display: none;}
  }
  .module-center{ background: url('../images/bg-cctv-c.png') no-repeat center top; width: 1357px; height: 846px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; box-sizing: border-box; padding: 20px 0 0 20px;
    .main-video{ width: 1144px; height: 725px; overflow: hidden; display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content:space-between;
      justify-content:space-between;
      .video-box{ width: 100%; display: none; box-sizing: border-box; position: relative;
        .video{ width: 100%;}
      }
      // &.twolist{
      //   .video-box{ margin-right: 20px; margin-bottom: 28px;
      //     &:nth-child(2n){ margin-right: 0;}
      //     &:nth-child(n + 3){ margin-bottom: 0};
      //   }
      // }
      // &.threelist{
      //   .video-box{ margin-right: 38px; margin-bottom: 20px;
      //     &:nth-child(3n){ margin-right: 0;}
      //   }
      // }
    }
  }
}

// mask
.page-mask{ @include layer-bg(.5); display: none}
.layer-video{ @include layer-box(1000px,634px); display: none;}

// 文字滚动
.num-info{ height: 60px; position: relative; width: 100%;
  .inrow{ font-size:0;font-size:12px;*font-size:0;font-family:arial;letter-spacing:-3px;
    >li,
    span{display:inline-block;*display:inline;*zoom:1;font-size:14px;letter-spacing:normal;word-spacing:normal; }
  }
  .dataNums{  width:100%; height:59px; overflow: hidden; text-align:center;
    .dataOne{ @include inline-block; width: 40px; height: 59px; line-height: 52px; box-sizing: border-box; text-align: center; background:url('../images/bg-index-01.png') no-repeat center top; font-size: 43px; font-weight: 200;}
    .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
    .dataBoc .tt {position: absolute; top: 0;  left: 0; width: 100%;  height: 100%;}
    .tt span{width:100%;height:100%; font-size: 43px; line-height: 59px; color:$main-white;}
  }
}

// 图表外框样式
#container-tjsj{ width: 134px; height: 140px; margin:6px 0 0 10px;}
#container-rkbl{ width: 250px; height: 132px; margin-left: -59px;}
#container-wgbl,
#container-nlbl{ margin:3px 0 0 3px;}
#container-jcsj{ width: 460px; height: 340px; margin: auto;}
#container-dyzy{ width: 620px; height: 380px; margin:-20px auto 0;}
#container-sb{ width: 317px; height: 97px; margin: 20px auto 0;}
#container-hq{ width: 142px; height: 142px;  transform: scale(1.2); margin-left: 8px; margin-top: 8px} 
#container-kqzl{  width: 150px; height: 193px; margin:-10px 0 0 3px;}
#container-hqgj-zx{ width: 410px; height: 130px; margin: auto;}
#container-zftj{ width: 198px; height: 198px;}
#container-ssp{width: 480px; height: 160px; margin: auto;}
#container-mdtj{ width: 740px; height: 416px; margin: auto;}
#container-dyxx{ width: 480px; height: 180px; margin: auto;}